.about-section{
	padding-bottom: 70px;

	.float-img	{
		margin: 0 40px 30px 0;
	}
	.main-content{
	    font-size: 1.7rem;
    	font-weight: 400;
    	color: #2D2E2D;
    	line-height: 2.9rem;

		img{
			margin: 0 40px 30px 0;
			float:left;
		}

		.video-container{
			position:relative;
			margin-bottom: 40px;

			.rollover{
				position:absolute;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				@include transition(opacity 0.4s);

				.rollover-button{
					position:absolute;
					left: 50%;
					top: 50%;
					width: 160px;
					height: 160px;
					margin: -80px;
					background-color: rgba(0,128,255,0.9);
					border-radius: 100%;
					cursor: pointer;

					svg{
						position: absolute;
						top: 101px;
    					left: 103px;
						@include transform(scale(4));
					}
				}

				&:hover{
					opacity: 1;
				}
			}
		}

		.wp-video{
			width: 100% !important;
			video{
				width: 100%;
				height: auto;
			}			
		}

	}
	.collapsed-text-link{
		text-transform:uppercase;
		font-size: 1rem;
		font-weight: 700;
		color:#2E80FF;

		.more{

			&:after{
				content: "";
				position:absolute;
				height: 7px;
				width: 7px;
				margin: 6px 0 0 7px;
				border-bottom: 1px solid #2E80FF;
				border-left: 1px solid #2E80FF;
				@include transform(rotate(-45deg));
				@include transition(color 0.4s);
			}
		}

		.less{
			&:after{
				content: "";
				position:absolute;
				height: 7px;
				width: 7px;
				margin: 10px 0 0 7px;
				border-bottom: 1px solid #2E80FF;
				border-left: 1px solid #2E80FF;
				@include transform(rotate(135deg));
				@include transition(color 0.4s);
			}
		}
	}

	.side-quote{
		font-family: 'Merriweather', serif;
		font-size:1.8rem;
		color:#2D2E2D;
		border-bottom: 1px solid #606362;

		.blue{
			color:#0080FF;
		}

		.cta{
			margin: 50px 0;
			padding: 20px;
		}
	}

	.about-mediakit{
		margin-top:45px;
	}

	@media only screen and (max-width: $break-mobile) {
		.main-content{
		    font-size: 1.6rem;
    		line-height: 2.7rem;
			padding-right: 15px !important;

			.page-text{
				margin-top: 30px;
			}
		}
		.side-content{
			margin-top: 60px;
			padding-left: 15px !important;

			.side-quote{
				margin-top: 15px;

				.cta{
					margin: 20px 0 70px 0;
				}
			}
		}

		.about-mediakit{
			margin-top: 20px;
		}

		.about-mediakit-cta-container{
			margin-top: 30px;
			text-align: center;
		}
	}
}