.globecourse-section{
	.page-content{
		.main-content{
			margin-top: 0;
			margin-bottom: 95px;
		}
	}
}

.globe-menu{
	width: 100%;

	.globe-menu-item{
		display: block;
		padding: 20px 25px;
		border-bottom: 1px solid #FFFFFF;
		font-family: 'Merriweather', serif;
		font-weight:400;
		font-size:1.7rem;
		color:#4B82F9;
		background-color:#174380;

	}
}