<div class="list-top-img show-desktop" style="background-image:url('/assets/img/top_globecourse.png')">
	<div class="margin-content">
		<div class="line-title lt-huge lt-white" ng-bind-html="'GLOBE Course'"></div>
	</div>
</div>
<div class="margin-content">
	<div class="page-section globecourse-section">
	<div class="line-title lt-normal lt-blue show-mobile" ng-bind-html="'GLOBE Course'"></div>
		<div class="row page-content">
			<div class="col-sm-8 main-content page-text" ng-bind-html="content">
				
			</div>
			<div class="col-sm-4 side-content show-desktop">
				<div class="side-menu">
					<div class="title" ng-bind-html="entityLabels[entity].group"></div>
					<div class="side-menu-item" ng-repeat="e in groupItems()">
						<a ui-sref="{{e.state}}" class="item" ng-class="{'active':entityLabels[entity].name == e.name}" ng-bind-html=e.name></a>	
						<a ui-sref="{{so.state}}" ng-repeat="so in e.suboptions" class="subitem" ng-bind-html="($index+1) +'. '+so.name"></a>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="show-mobile globe-menu">
	<a ui-sref="app.globedocuments" class="globe-menu-item">1. GLOBE Documents</a>
	<a ui-sref="app.globereadings" class="globe-menu-item">2. GLOBE Readings</a>
	<a ui-sref="app.globecases" class="globe-menu-item">3. GLOBE Cases</a>
	<a ui-sref="app.globenotes" class="globe-menu-item">4. GLOBE Teaching Notes</a>
	<a ui-sref="app.globepresentations" class="globe-menu-item">5. GLOBE Presentations</a>
</div>