.header-top {
	position:relative;
	padding: 20px 0;
	background-color: #004182;
	color: #2E80FF;
	
	&.header-fixed{
		margin-bottom:50px;
	}

	.margin-content{
		position:relative;
	}

	.buttons {
		position:absolute;
		top: 0;
    	right: 80px;
		text-align: right;

		.buttons-group {
			display:inline-block;
			margin-left: 30px;

			.btn-caption {			
				font-size: 0.8em;
    			letter-spacing: 0.2em;
    			font-weight: 700;
    			color: #2E80FF;
			}

			.btn-icon {
			    width: 30px;
			    height: 30px;
			    margin-left: 8px;
			    line-height: 29px;
			    display: inline-block;
			    text-align: center;
			    background-color: #004182;
			    @include border-radius(100%);
			    @include transition(all 0.4s);
			    border:1px solid #FFFFFF;


				.fa{
					color: #FFFFFF;
				}

				&:hover{
					border-color:#05427F;
					background-color:#FFFFFF;

					.fa{
						color: #05427F;
					}
				}
			}
		}

		@media only screen and (max-width: $break-desktop) {
			right: 50px;
		}
	}
}

.header-bottom {
	width:100%;
	background-color: #003162;
	color: #FFFFFF;
	position: relative;

	.margin-content{
		overflow:visible;
	}

	.search-input{
		position: absolute;
		width: 100%;
		height: 0px;
		top: 100%;
		left: 0%;
		background-color: white;
		z-index: 2;
		text-align: center;		    
		-webkit-box-shadow: 0px 7px 25px -3px rgba(117,117,117,1);
		-moz-box-shadow: 0px 7px 25px -3px rgba(117,117,117,1);
		box-shadow: 0px 7px 25px -3px rgba(117,117,117,1);
		&.search{
			height: 50px;
			.input-container{
				opacity: 1 !important;	
				height: 49px !important;			
			}
			.close-cross{
				display: none;
			}
		}
		.input-container{
		    height: 100%;
		    position: relative;
		    opacity: 0;
		    max-width: 1280px;
		    margin: 0 auto;
		    padding: 0 80px;

			input{
				color: #2D2E2D;
				border: none;
				font-size: 2em;	
				width: 100%;
				height: 100%;
				padding-left: 30px;		
				font-family: 'Merriweather', serif;
			}
			a{
				color: #2D2E2D !important;
				position: absolute;
				left: 80px;	
				top: 10px;
				font-size: 1.5em;
			}
			.close-cross{
				position: absolute;
				@include cross(0.8);	
				top: 15px;			
			}

		}
	}
	&.header-fixed{
		position:fixed;
		top:0;
		z-index: 2;
	}

	.main-menu{
		display:inline-block;
		width: 100%;
		margin: 0 0 0 10px;
		padding: 0;
		list-style-type:none;
		text-align: right;

		li{
			display: inline-block;
			position: relative;
			text-align: left;

			&.logo{
				float:left;
				width: 30px;
				@include transition(opacity 0.4s);

				a{
					padding: 10px 0;

					img{
						width: 100%;
					}
				}
				
			}

			a{
				display: block;
				position: relative;
				padding: 15px 11px;
				font-weight: 700;
				color: #FFFFFF;
				letter-spacing: 0.05em;
				@include transition(color 0.4s);

				&.has-submenu{
					padding-right: 22px;
					&:after{
						content: "";
						position:absolute;
						height: 7px;
    					width: 7px;
						margin: 4px 0 0 7px;
						border-bottom: 1px solid #FFFFFF;
						border-left: 1px solid #FFFFFF;
						@include transform(rotate(-45deg));
						@include transition(color 0.4s);
					}
				}

				&:hover, &.active{
					color: #0983FD;

					&:after{
						border-bottom: 1px solid #0983FD;
						border-left: 1px solid #0983FD;
					}
				}
			}

			&.showsubmenu {
				.submenu{
						max-height: 300px;
						@include opacity(1);
					}
			}
			.submenu{
				display: block;
				position:absolute;
				min-width: 100%;
    			max-height: 0px;
				padding: 0 25px 5px 25px;
				background-color: #003162;
				z-index: 2;
				overflow: hidden;
				@include opacity(0);
				@include transition(all 0.4s);

				li{
					display: block;
					border-bottom: 1px solid #335A81;

					a{
						padding: 0;
						font-size:1.3rem;
						font-weight:300;
						line-height: 32px;
    					white-space: nowrap;
					}

					&:last-child{
						border: none;
					}
				}
			}
		}

		@media only screen and (max-width: $break-desktop) {
			li{
				a{
					font-size: 1.3rem;
					padding: 15px 5px;

					&.has-submenu{
						padding-right: 16px;
					}
				}
			}
		}
	}
}

.header-mobile{
	display:none;
}

@media only screen and (max-width: $break-laptop) {
	.header-bottom, .header-top {
		display:none;
	}

	.header-mobile{
		display:block;
		position:fixed;
		width:100%;
		height:50px;
		
		background-color:#174380;
		z-index: 3;
		.input-container-mobile{
			display: none;
			&.search{
				display: block !important;
				position: absolute;
				top: 100%;
				width: 100%;
				height: 40px;
				background-color: white;
				-webkit-box-shadow: 0px 7px 25px -3px rgba(117,117,117,1);
				-moz-box-shadow: 0px 7px 25px -3px rgba(117,117,117,1);
				box-shadow: 0px 7px 25px -3px rgba(117,117,117,1);
				input{
					width: 100%;
					height: 100%;
					border: none;
					background: none;
						font-family: 'Merriweather', serif;
					@media only screen and (max-width: $break-desktop) {
						padding: 0 70px;
					}

					@media only screen and (max-width: $break-mobile) {
						padding: 0 45px;
					}
				}
				a{
					position: absolute;
					top: 12px;
					color: #2D2E2D;
					i{font-size: 1.2em;}
					@media only screen and (max-width: $break-desktop) {
						left: 50px;
					}

					@media only screen and (max-width: $break-mobile) {
						left: 25px;
					}
				}
			}
		}
		.logo{
			position:absolute;
			right: 10px;
			
			img{
				max-height: 34px;
    			margin-top: 9px;
			}
		}

		.buton{
			position:absolute;
			width: 62px;
			height: 100%;
			border-right: 1px solid #335A81;
			cursor:pointer;

			.icon{
				height:50px;

				.line{
					position: absolute;
					left:17px;
					height: 3px;
					background-color:#FFFFFF;
					@include transition(all 0.5s);	
				}
				.top{
					top:10px;
					width:26px;
				}
				.med{
					top:17px;
					width:18px;
				}
				.btm{
					top:24px;
					width:23px;	
				}
				.text{
					position: absolute;
					top: 31px;
    				left: 17px;
				    font-size: 0.9rem;
				    text-align: left;
				    color: #FFFFFF;
				    text-transform: uppercase;
				    @include transition(all 0.5s);
				}
			}

			&.opened {
				border-right: none;
				.top {
					top: 17px;
    				width: 23px;
    				@include transform(rotate(45deg));
				}
				.med {
					@include opacity(0)
				}
				.btm {
    				width: 23px;
    				top: 17px;
    				@include transform(rotate(-45deg));
				}
				.text {
					@include opacity(0)
				}
			}
		}

		.menu-mobile{
			position:absolute;
			right: 100%;
			top:50px;
			width:105%;
			height: 100vh;
			padding-bottom: 85px;
			background-color:#174380;
			@include transition(right 0.4s);
			font-family: 'Merriweather', serif;
			overflow: scroll;

			&.opened {
				right:-5%;
			}

			ul{
				list-style-type: none;
				padding-left: 30px;

				li{
					margin-top: 35px;
					a{
						font-size:1.6rem;
						color:#FFFFFF;

						&.has-submenu{
							&:after{
								content: "";
								position:absolute;
								height: 8px;
							    width: 8px;
							    margin: 5px 0 0 9px;
							    border-bottom: 2px solid #FFFFFF;
							    border-left: 2px solid #FFFFFF;
							    @include transform(rotate(-45deg));
							}
						}

						&.active{
							color: #0983FD;

							&:after{
								border-bottom: 2px solid #0983FD;
							    border-left: 2px solid #0983FD;
							}
						}
					}

					&.search-option{
						position: relative;
					    padding-left: 30px;
					    input{
							background: none;
						    border: none;
						    color: white;
						   	font-family: 'Merriweather', serif;				    	
					    }
					    a{
					    	position: absolute;
					    	left: 0;
					    }
					}

					.submenu{
						li{
							margin-top: 25px;

							a{
								font-size:1.2rem
							}
						}
					}
				}
			}
		}
	}

}