<header>
	<div class="header-top" ng-class="{'header-fixed':headerFixed}">
		<div class="margin-content">
			<a class="logo" ui-sref="app.home"><img src="/assets/img/logo.png"/></a>
			<div class="buttons">
				<div class="buttons-group">
					<span class="btn-caption">CONNECT</span>
					<social-share 
						title="Pankaj Ghemawat Web"
						content="Pankaj Ghemawat is the Global Professor of Management and Strategy and Director of the Center for the Globalization of Education and Management at the Stern School of Business at New York University, and the Anselmo Rubiralta Professor of Global Strategy at IESE Business School." 
						picture="http://nyu.com/localdata/img/about_picture.png"
						type = "general"
						></social-share>
				</div>
				<div class="buttons-group">
					<a href="" class="btn-caption">CONTACT</a>
					<a href="" class="btn-icon"><i class="fa fa-envelope-o"  aria-hidden="true"></i></a>
				</div>
				<div class="buttons-group" ng-click="showSearch('open')" >
					<a href="#" class="btn-caption">SEARCH</a>
					<a href="#" class="btn-icon"><i class="fa fa-search"  aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="header-bottom" ng-class="{'header-fixed':headerFixed}">
		<div class="search-input" ng-class="stateName">
			<div class="input-container">			
				<input type="text" name="search" placeholder="Type to search..." ng-keyup="$event.keyCode ? searchSubmit(searchInput) : null" ng-model="searchInput">
				<a href="#" class="btn-icon"><i class="fa fa-search"  aria-hidden="true" ng-click="searchSubmit(searchInput)"></i></a>
				<div class="close-cross" ng-click="showSearch('close')"></div>
			</div>
		</div>
		<div class="margin-content">
			<ul class="main-menu">
				<li class="logo" ng-style="{'opacity':headerFixed?'1':'0'}"><a ui-sref="app.home"><img src="/assets/img/logo_small.png"/></a></li>
				<li><a ng-class="{'active': getCurrentStateGroup() == 'about'}" ui-sref="app.about">About</a></li>
				<li>
					<a href="#" ng-class="{'active': getCurrentStateGroup() == 'publications'}" class="has-submenu">Publications</a>
					<ul class="submenu">
						<li><a ui-sref="app.books">Books</a></li>
						<li><a ui-sref="app.global">Globalization Index Reports</a></li>
						<li><a ui-sref="app.articles">Articles &amp; Book Chapters</a></li>
						<li><a ui-sref="app.working">Working Papers</a></li>
						<li><a ui-sref="app.blog">Blog</a></li>
					</ul>
				</li>
				<li>
					<a href="#" ng-class="{'active': getCurrentStateGroup() == 'news'}" class="has-submenu">News &amp; Media</a>
					<ul class="submenu">
						<li><a ui-sref="app.videos">Videos</a></li>
						<li><a ui-sref="app.podcasts">Podcasts</a></li>
						<li><a ui-sref="app.press">Press</a></li>
						<li><a ui-sref="app.mediakit">Media Kit</a></li>
					</ul>
				</li>
				<li>
					<a href="#" ng-class="{'active': getCurrentStateGroup() == 'teaching'}" class="has-submenu">Teaching Materials</a>
					<ul class="submenu">
						<li><a ui-sref="app.globecourse">GLOBE Course</a></li>
						<li><a ui-sref="app.cases">Cases & Teaching Notes</a></li>
						<li><a ui-sref="app.notes">Globalization Notes</a></li>
						<li><a ui-sref="app.surveys">Surveys</a></li>
						<li><a ui-sref="app.other">Other Teaching Materials</a></li>
					</ul>
				</li>
				<li><a ui-sref="#">Maps &amp; Visualizations</a></li>
				<li><a ui-sref="#">CAGE Comparator&trade;</a></li>
				<!--<li><a ng-click="showSpeakerPopup()" href="#">Request As Speaker</a></li>-->
				<li><a ng-click="openRequest()" href="#">Request As Speaker</a></li>
				
			</ul>
		</div>
	</div>
	<div class="header-mobile" ng-class="{'hide-menu' : hideOnScroll}">
		<div class="input-container-mobile" ng-class="stateName">			
			<input type="text" name="search" placeholder="Type to search..." ng-keyup="$event.keyCode ? searchSubmit(searchInput) : null" ng-model="searchInput">
			<a href="#" class="btn-icon"><i class="fa fa-search"  aria-hidden="true" ng-click="searchSubmit(searchInput)"></i></a>
			<div class="close-cross" ng-click="showSearch('close')"></div>
		</div>
		<a class="logo" ui-sref="app.home" ng-click="headerOpened && toggleMenu()"><img src="/assets/img/logo.png" /></a>
		<div class="buton" ng-class="{'opened':headerOpened}" ng-click="toggleMenu()">
			<div class="icon">
				<div class="line top"></div>
				<div class="line med"></div>
				<div class="line btm"></div>
				<div class="text">Menu</div>
			</div>
		</div>
		<div class="menu-mobile" ng-class="{'opened':headerOpened}">
			<ul>
				<li><a ng-class="{'active': getCurrentStateGroup() == 'home'}" ui-sref="app.home" ng-click=" getCurrentStateGroup() == 'home' && toggleMenu()">Home</a></li>
				<li><a ng-class="{'active': getCurrentStateGroup() == 'about'}" ui-sref="app.about" ng-click=" getCurrentStateGroup() == 'about' && toggleMenu()">About</a></li>
				<li ng-click="toggleCollapsed('publications')">
					<a class="has-submenu" ng-class="{'active': getCurrentStateGroup() == 'publications'}">Publications</a>
					<ul class="submenu" uib-collapse="collapsed != 'publications'">
						<li><a ui-sref="app.books" >Books</a></li>
						<li><a ui-sref="app.global" >Globalization Index Reports</a></li>
						<li><a ui-sref="app.articles" >Articles & Book Chapters</a></li>
						<li><a ui-sref="app.working" >Working Papers</a></li>
						<li><a ui-sref="app.blog" >Blog</a></li>
					</ul>
				</li>
				<li ng-click="toggleCollapsed('news')">
					<a class="has-submenu" ng-class="{'active': getCurrentStateGroup() == 'news'}">News &amp; Media</a>
					<ul class="submenu" uib-collapse="collapsed != 'news'">
						<li><a ui-sref="app.videos">Videos</a></li>
						<li><a ui-sref="app.podcasts">Podcasts</a></li>
						<li><a ui-sref="app.press">Press</a></li>
						<li><a ui-sref="app.mediakit">Media Kit</a></li>
					</ul>
				</li>
				<li ng-click="toggleCollapsed('teaching')">
					<a class="has-submenu" ng-class="{'active': getCurrentStateGroup() == 'teaching'}">Teaching Materials</a>
					<ul class="submenu" uib-collapse="collapsed != 'teaching'">
						<li><a ui-sref="app.globecourse">GLOBE Course</a></li>
						<li><a ui-sref="app.cases">Cases & Teaching Notes</a></li>
						<li><a ui-sref="app.notes">Globalization Notes</a></li>
						<li><a ui-sref="app.surveys">Surveys</a></li>
						<li><a ui-sref="app.other">Other Teaching Materials</a></li>
					</ul>
				</li>
				<li><a ui-sref="#" ng-class="{'active': getCurrentStateGroup() == 'visualizations'}" ng-click=" getCurrentStateGroup() == 'visualizations' && toggleMenu()">Maps & Visualizations</a></li>
				<li><a ui-sref="#" ng-class="{'active': getCurrentStateGroup() == 'cage'}" ng-click=" getCurrentStateGroup() == 'cage' && toggleMenu()">CAGE Comparator&trade;</a></li>
				<!--<li><a href="#" ng-click="showSpeakerPopup()">Request As Speaker</a></li>-->
				<li><a href="#" ng-click="openRequest()">Request As Speaker</a></li>
				<li ng-hide="getCurrentStateGroup() == 'search'" class="search-option" ng-click="searchSubmit(searchInput)">
					<input type="text" name="search" placeholder="Type to search..." ng-model="searchInput">
					<a ui-sref="app.search" class="btn-icon"><i class="fa fa-search"  aria-hidden="true" ng-click="searchSubmit(searchInput)"></i></a>
				</li>
			</ul>
		</div>
	</div>
</header>