<div class="request-popup-container">
	<div class="close-popup" ng-click="close()"></div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="form-title">Request as Speaker</div>
			<div class="form-container">
				<form method="" action="">
					<div class="form-item">
						<label for="name">Full name</label>
						<input type="text" name="name" id="name">
					</div>
					<div class="form-item">
						<label for="organization">Organization / Meeting</label>
						<input type="text" name="organization" id="organization">
					</div>
					<div class="form-item">
						<label for="date">Anticipated Date</label>
						<input type="date" name="date" id="date">
					</div>
					<div class="form-item">
						<label for="email">E-mail</label>
						<input type="email" name="email" id="email">
					</div>
					<div class="form-item">
						<label for="phone">Phone number</label>
						<input type="phone" name="phone" id="phone">
					</div>
					<div class="form-item">
						<label for="message">Message</label>
						<textarea id="message"></textarea>
					</div>
					<div class="button-container">
						<a class="cta cta-light-blue">Send request</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>