<!--REQUEST POPUP-->
<div class="request-popup-container" ng-show="stateToShow == 'request'">
	<div class="close-popup" ng-click="close()"></div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 generic_fade" ng-show="requestSent.request === false">
			<div class="form-title">Request as Speaker</div>
			<div class="form-container">
				<form>
					<div class="form-item">
						<label for="name">Full name</label>
						<input type="text" name="name" id="name" class="name" ng-model="msg.name">
					</div>
					<div class="form-item">
						<label for="organization">Organization / Meeting</label>
						<input type="text" name="organization" id="organization" class="organization" ng-model="msg.organization">
					</div>
					<div class="form-item">
						<label for="date">Anticipated Date</label>
						<input type="date" name="date" id="date" class="date" ng-model="msg.date">
					</div>
					<div class="form-item">
						<label for="email">E-mail</label>
						<input type="text" name="email" id="email" class="email" ng-model="msg.email">
					</div>
					<div class="form-item">
						<label for="phone">Phone number</label>
						<input type="phone" name="phone" id="phone" class="phone" ng-model="msg.phone">
					</div>
					<div class="form-item">
						<label for="message">Message</label>
						<textarea id="message" ng-model="msg.msg"></textarea>
					</div>
					<div vc-recaptcha key="'6LdpJyUTAAAAAAvlL95CqwD-MqQe7jX9j_kcUQyd'" size="compact" ng-model="myRecaptchaResponse"></div>
					<div class="button-container">
						<a class="cta cta-light-blue" ng-click="submitForm()">{{btntxt}}</a>
					</div>

				</form>
			</div>
		</div>
		<div class="col-sm-6 col-sm-offset-3 generic_fade request-sent" ng-show="requestSent.request === true">
			<div class="form-title">Thank you for your request.</div>
			<div class="small-text">Your message has been sent successfully and we will be in contact soon.</div>
			<img class="fade_logo" src="/assets/img/fade_logo.png"/>
		</div>
	</div>
</div>
<!-- CONTACT -->
<div class="request-popup-container" ng-show="stateToShow == 'contact'">
	<div class="close-popup" ng-click="close()"></div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 generic_fade" ng-show="requestSent.contact === false">
			<div class="form-title">Contact</div>
			<div class="form-container">
				<form>
					<div class="form-item">
						<label for="nature">What is the nature of your message?</label>
						<select name="nature" id="nature" class="nature" ng-model="msg.nature">
							<option value="1">Message to Professor Ghemawat</option>
							<option value="2">Query or comment about this website, online tools, and subscriptions</option>
							<option value="3">Request for teaching materials or query about the GLOBE Course</option>
						</select>
					</div>
					<div class="form-item">
						<label for="name">Full name</label>
						<input type="text" name="name" id="name" class="name" ng-model="msg.name">
					</div>
					<div class="form-item">
						<label for="organization">Organization / Meeting</label>
						<input type="text" name="organization" id="organization" class="organization" ng-model="msg.organization">
					</div>
					<div class="form-item">
						<label for="email">E-mail</label>
						<input type="text" name="email" id="email" class="email" ng-model="msg.email">
					</div>
					<div class="form-item">
						<label for="message">Message</label>
						<textarea id="message" ng-model="msg.msg"></textarea>
					</div>
					<div vc-recaptcha key="'6LdpJyUTAAAAAAvlL95CqwD-MqQe7jX9j_kcUQyd'" size="compact" ng-model="myRecaptchaResponse"></div>
					<div class="button-container">
						<a class="cta cta-light-blue" ng-click="submitForm()">{{btntxt}}</a>
					</div>
				</form>
			</div>
		</div>
		<div class="col-sm-6 col-sm-offset-3 generic_fade request-sent" ng-show="requestSent.contact === true">
			<div class="form-title">Thank you for your request.</div>
			<div class="small-text">Your message has been sent successfully and we will be in contact soon.</div>
			<img class="fade_logo" src="/assets/img/fade_logo.png"/>
		</div>
	</div>
</div>