nyu-list-item{
	display: block;
	//opacity: 0;
}
.list-item{
	margin-bottom: 95px;

	.item-image	{
		.item-image-container{
			display:block;

			img {
				display: block;
				max-width: 100%;
				cursor:pointer;
				@media only screen and (min-width: $break-mobile){
					width: 100%;
				}

			}
		}

		.cta{
			display: block;
			margin-top: 10px;

			&.cta-dark-blue{
				margin-top: 30px;
				display: inline-block;
			}

		}

		.mobile-social {
			.btn-caption {
				margin-top: 8px;
			}
		}
	}

	.item-content{
		text-align: left;
		font-weight: 400;
	    font-size: 1.7rem;
		line-height: 2.9rem;

		p{
			margin-bottom: 25px;

			a{
				color:#0983FD;
			}
		}
		div[ng-if="isEmbedYT()"]{
			position: relative;
			padding-bottom: 66%;
			margin: 10px 0 30px 0; 
			iframe {position: absolute;}
		}
		.item-author{
			font-size:1.7rem;
			line-height: 1.7rem;
			font-weight: 300;
			color: #6BB5FE;
			margin-bottom:10px;
		}
		.item-title{
			display: block;
			font-size:2.6rem;
			line-height: 2.6rem;
			font-weight: 700;
			color: #2D2E2D;
			margin-bottom:5px;
		}
		.item-subtitle{
			font-size:1.9rem;
			line-height: 1.8rem;
			font-weight: 700;
			color: #2D2E2D;
			margin-bottom:10px;
		}
		.item-content-text{
			font-size:1.7rem;
			font-weight: 400;
			color: #2D2E2D;
			line-height: 2.9rem;
		}
		.cta {
			margin-top:25px;
			margin-right: 15px;
			cursor:pointer;
			line-height: 18px;
			&.margin-fix{
				margin-top:0px;
			}
		}

		.link-dark-blue {
			display: inline-block;
			margin-top: 25px;
			font-size: 1.7rem;
			color:#174380;
			font-weight: 400;
			cursor:pointer;

			&:after{
				content: "";
				position: absolute;
    			margin-left: 10px;
				background-size:cover;
			}

			&.xls-link{
				&:after{
					width: 24px;
					height: 28px;
					background-image: url('/assets/img/link_xls.png');
				}
			}

			&.ext-link{
				&:after{
					width: 26px;
					height: 25px;
					background-image: url('/assets/img/link_ext.png');
				}
			}
			
		}

		.other-link{
			display: inline-block;
			margin-top: 25px;
			font-size: 1.7rem;
			font-weight: 300;
			font-style: italic;
			color:#313231;
			cursor:pointer;
		}

		.mobile-social{
			margin-bottom: 0;
		}
	}

	@media only screen and (max-width: $break-mobile) {
		margin-bottom:60px;

		.item-image{
			.cta{
				padding: 10px 5px;
			}
		}

		.item-content {
			font-size: 1.6rem;

			.item-author{
				margin-bottom:10px;
				font-size:1.6rem;
				line-height: 1.6rem;
			}
			.item-title{
				font-size: 2.4rem;
				line-height: 2.7rem;
				margin-bottom: 2px;
			}
			.item-subtitle{
				font-size:1.7rem;
				line-height: 1.9rem;
				font-weight: 700;
			}
			.item-content-text{
				font-size:1.6rem;
				line-height: 2.7rem;
			}
			.cta {
				margin-top: 15px;
			}

			.link-dark-blue {
				font-size: 1.3rem;
				margin-top: 15px;

				&.xls-link{
					&:after{
					    width: 18px;
					    height: 21px;
					    margin-top: -3px;
					    margin-left: 7px;
					}
				}

				&.ext-link{
					&:after{
						width: 21px;
					    height: 21px;
					    margin-top: -3px;
					    margin-left: 7px;
					}
				}

			}
			.other-link{
				margin-top: 15px;
				font-size: 1.3rem;
			}
		} 

		.item-image{
			margin:12px 0 15px 0;
		}
	}


	&.list-item-videos{
		padding:0 0 40px 0;
		margin: 0 0 40px 0;
		border-bottom: 1px solid #616463;

		&.last{
			border-bottom: none;
		}
		
		.item-content{
			padding: 0 5px;

			.link-dark-blue{
				margin: 0 0 15px 0;
			}
		}

		.item-image{
			margin-bottom: 15px;
			padding: 0 5px;
		}

		@media only screen and (max-width: $break-mobile) {
			border-bottom:none;
		}

	}
}

.audio-block{
	pointer-events: none;
}
.item-audio{
	height:65px;
	padding:0;
	margin: 0 15px 25px 15px;
	border: 1px solid #616362;
	.no-padding{
		padding: 0;
	}
	.button{
		display:inline-block;
		width: 65px;
		height: 63px;
		//padding: 15px 19px;
		background-color:#4B82F9;
		vertical-align: top;
		svg{
			path{
				@include transform (scale(1.7));
			}
		}
	}
	.play-bar{
		position:relative;
		display:inline-block;
		height: 65px;
		width: calc(100% - 65px);
		vertical-align: top;
		font-weight: 300;
		font-size: 1.3rem;
		color:#313231;

		.time-played{
			position:absolute;
			bottom:1px;
			left: 15px;
		}
		.time-total{
			position:absolute;
			bottom:1px;
			right:5px;
		}
		.play-bar-range{
			position: absolute;
			top: 50%;
		    left: 6%;
		    width: 87%;
			height:50%;
			//background-image: url('/assets/img/audio-playbar-gray.png');
			//background-repeat: repeat-x;
			@include transform(translate(0,-50%));
			div.bar{
				height: 100%;
				background-repeat: no-repeat;
				position: absolute;
				background-color: white;
				//background-size: 100% auto;
				//background-position: 0px 50%;
			}
			div.hide-bar{
				position: absolute;
				height: 100%;
				background-repeat: no-repeat;
			}
			.total-bar{
				width: 100%;
				background-image: url('/assets/img/Sound_Grey.png');
				.hide-bar{
					left: 0;
					width: 0%;
					background-color: white;
				}
			}
			.actual-bar{
				overflow:hidden;
				width: 0%;
				.hide-bar{
					right: 0;
					width: 100%;
					background-image: url('/assets/img/Sound_Blue.png');
					background-repeat: no-repeat;
					//background-size: 100% auto;
					//background-position: 0px 50%;
				}
			}
/*
			&:before{
				content:"";
				position:absolute;
				right:100%;
				top:0;
				height:50%;
				width:10px;
				border-bottom: 1px solid #616362;

			}

			&:after{
				content:"";
				position:absolute;
				left:100%;
				top:0;
				height:50%;
				width:10px;
				border-bottom: 1px solid #616362;

			}
*/			

		}
	}
}