<div class="list-item list-item-{{entity}} row" ng-class="{'last':last=='true'}">
	<div class="item-content col-xs-12">
		<div ng-if="author !==''" class="item-author" ng-bind-html="author"></div>
		<a ui-sref="app.{{subentity?subentity:entity}}item({id:1,title:getTitleUrl()})" ng-if="title !==''" class="item-title" ng-bind-html="title"></a>
		<div ng-if="subtitle !==''" class="item-subtitle" ng-bind-html="subtitle"></div>
		<div ng-if="hasItemInfo()" class="item-info">
			<span ng-if="publicationType !==''" class="publicationType" ng-bind-html="publicationType">
			</span><span ng-if="publication !==''" class="publication" ng-bind-html="publication">
			</span><span ng-if="publisher !==''" class="publisher" ng-bind-html="publisher">
			</span><span ng-if="date !==''" class="date" ng-bind-html="date">
			</span><span ng-if="pages !==''" class="pages" ng-bind-html="pages">
			</span><span ng-if="other !==''" class="other" ng-bind-html="other"></span>
		</div> 
	</div>
	<div class="item-audio col-sm-12 show-desktop" ng-if="entity == 'podcasts'">
		<a href="#" class="button" ng-click="toggleAudio()">
			<span class="play" ng-show="!audioPlaying"></span>
			<span class="pause" ng-show="audioPlaying"></span>
		</a><div class="play-bar">
			<div class="play-bar-range"></div>
			<div class="time-played">1:44</div>
			<div class="time-total">10:50</div>
		</div>
	</div>
	<div class="item-image {{entity !== 'videos' && content !== ''?'col-sm-5':'col-sm-12'}}" ng-if="picture !== ''">
		<a ui-sref="app.{{entity}}item({id:1,title:getTitleUrl()})" class="item-image-container">
			<img class="{{content===''?'':'full-img'}}" src="/localdata/img/{{picture}}" />	
		</a>
		<div><a ng-if="pdfLink !== '' && content === ''" class="cta cta-dark-blue" ng-bind-html="pdfLink"></a></div>
		<div ng-if="share === 'true' && content === ''" class="mobile-social btns-gray">
			<span class="btn-caption">SHARE</span>
			<a href="" class="btn-icon"><i class="fa fa-twitter"  aria-hidden="true"></i></a>
			<a href="" class="btn-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="" class="btn-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
		</div>

	</div>
	<div class="item-content {{picture !== '' && entity !== 'videos'?'col-sm-7':'col-sm-12'}}" >
		<div><a ng-if="entity === 'videos' && extLink !== ''" class="link-dark-blue ext-link"  ng-bind-html="'Watch video on external site'"></a></div>
		<div class="item-content-text" ng-bind-html="content"></div>
		<a ng-if="mainctatext !== ''" class="cta cta-light-blue" ng-bind-html="mainctatext"></a>
		<a ng-if="mainctatext2 !== ''" class="cta cta-light-blue cat-2" ng-bind-html="mainctatext2"></a>
		<div><a ng-if="pdfLink !== '' && content !== ''" class="cta cta-dark-blue" ng-bind-html="pdfLink"></a></div>
		<div><a ng-if="xlsLink !== ''" class="link-dark-blue xls-link" ng-bind-html="xlsLink"></a></div>
		<div><a ng-if="extLink !== '' && entity !== 'videos'" class="link-dark-blue ext-link" ng-bind-html="'Watch video on external site'"></a></div>
		<div><a ng-if="otherLink !== ''" class="other-link" ng-bind-html="otherLink"></a></div>
		<div ng-if="share === 'true' && content !== ''" class="mobile-social btns-gray">
			<span class="btn-caption">SHARE</span>
			<a href="" class="btn-icon"><i class="fa fa-twitter"  aria-hidden="true"></i></a>
			<a href="" class="btn-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="" class="btn-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
		</div>
	</div>
</div> 