<div class="list-item list-item-{{entity}}" ng-class="{'last':last=='true'}">
	<div class="row" ng-hide="entity == 'globecourse' && (subentity == 'globenotes' || subentity == 'globepresentations')">
		<div class="item-content col-xs-12">
			<div ng-if="author !==''" class="item-author" ng-bind-html="author"></div>
			<a ui-refresh ui-sref="app.{{subentity?((subentity != 'search')?subentity:type):((entity != 'search')?entity:type)}}item({id:id,title:getTitleUrl()})" ng-if="title !==''" class="item-title" ng-bind-html="title"></a>
			<div ng-if="subtitle !==''" class="item-subtitle" ng-bind-html="subtitle"></div>
			<div ng-if="hasItemInfo()" class="item-info">
				<span ng-if="publicationType !==''" class="publicationType" ng-bind-html="publicationType"></span>
				<span ng-if="publicationType !==''" class="vertical-blue-line">&#124;</span>
				<span ng-if="publication !==''" class="publication" ng-bind-html="publication"></span>
				<span ng-if="publication !==''" class="vertical-blue-line">&#124;</span>
				<span ng-if="publisher !==''" class="publisher" ng-bind-html="publisher"></span>
				<span ng-if="publisher !==''" class="vertical-blue-line">&#124;</span>
				<span ng-if="date !==''" class="date" ng-bind-html="date"></span>
				<span ng-if="date !==''" class="vertical-blue-line">&#124;</span>
				<span ng-if="pages !==''" class="pages" ng-bind-html="pages"></span>
				<span ng-if="pages !==''" class="vertical-blue-line">&#124;</span>
				<span ng-if="other !==''" class="other" ng-bind-html="other"></span>
				<span ng-if="other !==''" class="vertical-blue-line">&#124;</span>
			</div> 
		</div>
	</div>
	<!--podcast-->
	<div class="col-sm-12" style="padding: 0;" ng-if="entity == 'podcasts'"  ng-show="audio && isPodcast()">
		<iframe style="margin:20px 0;" width="100%" height="166px" scrolling="no" frameborder="no" ng-src="{{audioEmbed}}"></iframe>
	</div>
	<!--PODCAST
	<div class="row audio-block{{id}} audio-block">
		<div id="audio-here{{id}}"></div>
		<div class="item-audio col-sm-12" ng-if="entity == 'podcasts'" ng-show="audio">
			<a href="#" class="button" ng-click="toggleAudio('animation-'+id)">
				<svg x="0px" y="0px" width="65px" height="63px" viewBox="0 0 65 63" enable-background="new 0 0 65 63" xml:space="preserve">
					<path fill="#FFFFFF" stroke="#FFFFFF" stroke-miterlimit="10" d="M11,10 L18,13.74 18,22.28 11,26 M18,13.74 L26,18 26,18 18,22.28">
						<animate id="animation-{{id}}" 
							begin="indefinite" attributeType="XML" attributeName="d" fill="freeze" 
							from="M11,10 L17,10 17,26 11,26 M20,10 L26,10 26,26 20,26" 
							to="M11,10 L18,13.74 18,22.28 11,26 M18,13.74 L26,18 26,18 18,22.28" 
							dur="0.2s" keySplines=".4 0 1 1" repeatCount="1"></animate>
					</path>
				</svg>
			</a><div class="play-bar">
				<div class="play-bar-range" id="play-bar-{{id}}">
				<div class="bar total-bar"><div class="hide-bar"></div></div>
				<div class="bar actual-bar" id="control-time-{{id}}"><div class="hide-bar"></div></div>	
				</div>
				<div class="time-played">{{actualTime}}</div>
				<div class="time-total">{{audioDuration}}</div>
			</div>
		</div>
	</div>
	-->
	<div class="row">
		<div class="item-image {{entity !== 'videos' ?'col-sm-5':'col-sm-12'}}" ng-if="picture !== '' && !isEmbedYT()">
			<a ui-sref="app.{{subentity?subentity:entity}}item({id: id,title: getTitleUrl()})" class="item-image-container">
				<img class="{{content===''?'':'full-img'}}" src="{{picture}}" />	
			</a>
			<div><a target="_blank" href="{{pdfLink}}" ng-if="pdfLink !== '' && contentShort === ''" class="cta cta-dark-blue" ng-bind-html="'View PDF'"></a></div>
			<div ng-if="share === 'true' && contentShort === ''" class="mobile-social btns-gray">
				<span class="btn-caption">SHARE</span>
				<social-share
					entity="{{subentity?subentity:entity}}" 
					title="{{title}}"
					content="{{contentShort?contentShort:content}}" 
					id="{{id}}"
					picture="{{picture}}"
					></social-share>
			</div>
		</div>
		<div class="item-content {{picture !== '' && entity !== 'videos'?'col-sm-7':'col-sm-12'}}" >
			<div ng-if="isEmbedYT()">
				<iframe width="100%" height="100%" ng-src="{{videoEmbed}}" frameborder="0" allowfullscreen></iframe>
			</div>
			<div><a target="_blank" href="{{extLink}}" ng-if="entity === 'videos' && extLink !== '' && !isEmbedYT()" class="link-dark-blue ext-link"  ng-bind-html="entity=='videos'?'Watch video on external site':'Read more on external site'"></a></div>
			<div class="item-content-text" ng-bind-html="contentShort"></div>
			<div ng-if="contentShort === ''" ng-bind-html="content"></div>
			<a ui-sref="app.{{subentity?subentity:entity}}item({id: id,title: getTitleUrl()})" ng-if="mainctatext !== ''" class="cta cta-light-blue" ng-bind-html="'Read More'"></a>
			<a target="_blank" href="{{mainctatext2}}" ng-if="mainctatext2 !== ''" class="cta cta-light-blue cat-2" ng-bind-html="'Purchase'"></a>
			<div><a target="_blank" href="{{pdfLink}}" ng-if="pdfLink !== '' && contentShort !== ''" class="cta cta-dark-blue" ng-bind-html="'View PDF'"></a></div>
			<div><a target="_blank" href="{{xlsLink}}" ng-if="xlsLink !== ''" class="link-dark-blue xls-link" ng-bind-html="'Download Results (EXCEL)'"></a></div>
			<div><a target="_blank" href="{{extLink}}" ng-if="extLink !== '' && entity !== 'videos'" class="link-dark-blue ext-link" ng-bind-html="entity=='videos'?'Watch video on external site':'Read more on external site'"></a></div>
			<div><a target="_blank" href="{{pdflinkextra}}" ng-if="pdflinkextra !== '' && entity !== 'videos'" class="link-dark-blue" ng-bind-html="entity=='videos'?'Watch video on external site':'View Online Appendix (PDF)'"></a></div>
			<div><a target="_blank" ng-if="otherLink !== ''" class="other-link" ng-bind-html="otherLink"></a></div>
			<div ng-if="share === 'true' && contentShort !== ''" class="mobile-social btns-gray">
				<span class="btn-caption">SHARE</span>
				<social-share 
					entity="{{subentity?subentity:entity}}" 
					title="{{title}}"
					content="{{contentShort?contentShort:content}}" 
					id="{{id}}"
					picture="{{picture}}"
					></social-share>
			</div>
		</div>
	</div>
</div> 