footer {
	padding: 40px 0 20px 0;
	background-color: #2D2E2D;
	color: #FFFFFF;
	position: relative;
	.request-mobile{
		margin: 35px 80px;
		margin-left: 0px;
		@media only screen and (max-width: $break-mobile) {
			display:block;
		}
	}
	a{
		color: #FFFFFF;
		@include transition(all 0.4s);

		&:visited,&:focus{
			color: #FFFFFF;
			text-decoration: none;
		}

		&:hover{
			color:#0080FF;
		}

	}

	.footer-column{

		.footer-title{
			border-top: 1px solid #FFFFFF;
			text-transform: uppercase;
			font-size: 1.4rem;
			font-weight: 700;
			padding: 4px 0 10px 0;
		}

		.footer-subtitle{
			display:block;
			margin-top: 14px;
			font-size: 1.4rem;
			text-transform: uppercase;
			font-weight: 300;

		}

		.footer-subsubtitle{
			display: block;
		    margin-top: 7px;
		    padding-left: 20px;
		    font-size: 1.4rem;
		    font-weight: 100;
		    line-height: 1.7rem;
		}

		.btn-icon {
		    width: 30px;
		    height: 30px;
		    margin-top: 10px;
		    margin-left: 8px;
		    line-height: 30px;
		    display: inline-block;
		    text-align: center;
		    background-color: #FFFFFF;
		    @include border-radius(100%);
		    @include transition(all 0.4s);

			.fa{
				color: #2D2E2D;
			}

			&:hover{
				background-color: #0080FF;
			}
		}

		.email-desc{
			margin-top: 10px;
			font-size: 1.4rem;
			color:#0080FF;
			font-weight:300;
		}
		.email{
			font-size: 1.4rem;
		}

		.cta{
			margin-top: 30px;
		}
	}

	.mobile-social{
		margin: 35px 0;
		padding-left: 15px;

		.btn-icon {
		    width: 25px;
		    height: 25px;
		    margin-left: 8px;
		    line-height: 24px;
		}
	}

	.copyright{ 
		margin-top: 10px;
		text-align:center;
		font-weight:300;
		font-size: 1.4rem;

		@media only screen and (max-width: $break-mobile) {
			text-align: left;
		}
	}
}
ng-cage-footer{
	footer{
		margin-top: 20px;
		padding: 15px 0px 15px 0px;
		background-color: #ffffff;
		color: $cage-footer-color;
		@media (max-width: $break-mobile) and (max-height: 420px){
			padding: 20px 0px 20px 50px;
		}
		.copyright {
			margin-top: 0px;
			text-align: center;
			font-weight: 300;
			font-size: 10px;
		}
	}
}