<footer>
	<ng-back-to-top ng-click="backToTop()"></ng-back-to-top>
	<div class="margin-content">
		<div class="row">
			<div class="col-sm-5 footer-column show-desktop">
				<div class="footer-title">Discover more</div>
				<div class="row">
					<div class="col-sm-6">
						<a class="footer-subtitle" ui-sref="app.about">About</a>
						<a class="footer-subtitle" ui-sref="app.books">Publications</a>
						<a class="footer-subsubtitle" ui-sref="app.books">Books</a>
						<a class="footer-subsubtitle" ui-sref="app.global">Globalization Index Reports</a>
						<a class="footer-subsubtitle" ui-sref="app.articles">Articles &amp; Book Chapters</a>
						<a class="footer-subsubtitle" ui-sref="app.working">Working Papers</a>
						<a class="footer-subsubtitle" ui-sref="app.blog">Blog</a>
						<a class="footer-subtitle" ui-sref="app.videos">News &amp; Media</a>
						<a class="footer-subsubtitle" ui-sref="app.videos">Videos</a>
						<a class="footer-subsubtitle" ui-sref="app.podcasts">Podcasts</a>
						<a class="footer-subsubtitle" ui-sref="app.press">Press</a>
						<a class="footer-subsubtitle" ui-sref="app.mediakit">Media Kit</a>
					</div>
					<div class="col-sm-6">
						<a class="footer-subtitle" ui-sref="app.globecourse">Teaching Materials</a>
						<a class="footer-subsubtitle" ui-sref="app.globecourse">GLOBE Course</a>
						<a class="footer-subsubtitle" ui-sref="app.cases">Cases &amp; Teaching Notes</a>
						<a class="footer-subsubtitle" ui-sref="app.notes">Globalization Notes</a>
						<a class="footer-subsubtitle" ui-sref="app.surveys">Surveys</a>
						<a class="footer-subsubtitle" ui-sref="app.other">Other Teaching Materials</a>
						<a class="footer-subtitle" ui-sref="#">MAPS &amp; Visualizations</a>
						<a class="footer-subtitle" ui-sref="app.cage">CAGE Comparator&trade;</a>
					</div>
				</div>
			</div> 
			<div class="col-sm-3 footer-column  show-desktop">
				<div class="footer-title">CONNECT</div>
				<div>
					<a href="https://twitter.com/pankajghemawat" target="_blank" class="btn-icon"><i class="fa fa-twitter"  aria-hidden="true"></i></a>
					<a href="https://www.facebook.com/PankajGhemawat/" target="_blank" class="btn-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="https://www.linkedin.com/in/pankaj-ghemawat-94b86444" target="_blank" class="btn-icon"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
				</div>
				<a class="cta cta-blue-o" ng-click="showSpeakerPopup('request')">Request as speaker</a>
			</div>
			<div class="col-sm-4 footer-column">
				<div class="footer-title">Contact</div>
				<div class="email-desc">E-mail (General)</div>
				<a class="email-footer" href="mailto:pankaj@ghemawat.com">pankaj@ghemawat.com</a>
				<div class="email-desc">E-mail (Website)</div>
				<a class="email-footer" href="mailto:online@ghemawat.com">online@ghemawat.com</a>
				<div class="email-desc">Email (GLOBE Course)</div>
				<a class="email-footer" href="mailto:globecourse@ghemawat.com">globecourse@ghemawat.com</a>
				<div class="email-desc">Phone</div>
				<a class="email-footer" href="tel:+34932536484">+34 93 253 6484</a>
			</div>

			<div class="mobile-social btns-white show-mobile">
				<a class="cta cta-blue-o request-mobile" ng-click="showSpeakerPopup('request')">Request as speaker</a>
				<span class="btn-caption">CONNECT</span>
				<div style="display: inline;">
					<a href="https://twitter.com/pankajghemawat" target="_blank" class="btn-icon"><i class="fa fa-twitter"  aria-hidden="true"></i></a>
					<a href="https://www.facebook.com/PankajGhemawat/" target="_blank" class="btn-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="https://www.linkedin.com/in/pankaj-ghemawat-94b86444" target="_blank" class="btn-icon"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
				</div>
				<div class="buttons-group label-group" ng-click="openRequest('contact')" style="    margin-top: 20px;">
					<a href="" class="btn-caption">CONTACT</a>
					<a href="" class="btn-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
		<div class="copyright">&copy; Pankaj Ghemawat. All Rights Reserved</div>
	</div>
</footer>