<div ng-if="entitiesService.showFilter(entity)">
	<div class="filters" ng-style="{'left':root.mobileFiltersLeft}">
		<div class="close-popup show-mobile" ng-click="root.mobileShowFilters = false;"></div>
		<div class="results cta cta-blue-o">134 results</div>
		<div class="filter-item" ng-if="entitiesService.hasFilter(entity, 'target')">
			<label>Target Audience</label>
			<tags-input 
				ng-model="filterData.targetAudience" 
				placeholder="Filter by Target Audience"
				add-from-autocomplete-only="true">
		        <auto-complete 
		        	source="filterAutocomplete($query, 'targetAudience')"
		        	min-length="1">
		        </auto-complete>
		    </tags-input>
			<!-- <input type="text" name="topic" placeholder="Filter by Target Audience"/> -->
		</div>
		<div class="filter-item" ng-if="entitiesService.hasFilter(entity, 'topic')">
			<label>Topic</label>
			<tags-input 
				ng-model="filterData.topic" 
				placeholder="Filter by Topic"
				add-from-autocomplete-only="true">
		        <auto-complete 
		        	source="filterAutocomplete($query, 'topic')"
		        	min-length="1">
		        </auto-complete>
		    </tags-input>
		</div>
		<div class="filter-item" ng-if="entitiesService.hasFilter(entity, 'country')">
			<label>Country / Region</label>
			<tags-input 
				ng-model="filterData.country" 
				placeholder="Filter by Country / Region"
				add-from-autocomplete-only="true">
		        <auto-complete 
		        	source="filterAutocomplete($query, 'country')"
		        	min-length="1">
		        </auto-complete>
		    </tags-input>
		</div>
		<div class="filter-item" ng-if="entitiesService.hasFilter(entity, 'date')">
			<label>Publication Date</label>
			<select class="small" type="text" ng-model="filterData.yearFrom" name="start" placeholder="Start Year" ng-options="y for y in dataSRC.years"></select>
			<span class="filter-item-text">to</span>
			<select class="small" type="text" ng-model="filterData.yearTo" name="end" placeholder="End Year" ng-options="y for y in dataSRC.years"></select>
		</div>
		<div class="filter-item" ng-if="entitiesService.hasFilter(entity, 'language')">
			<label>Language</label>
			<tags-input 
				ng-model="filterData.language" 
				placeholder="Filter by Language"
				add-from-autocomplete-only="true">
		        <auto-complete 
		        	source="filterAutocomplete($query, 'language')"
		        	min-length="1">
		        </auto-complete>
		    </tags-input>
		</div>
		<a class="clear-filters" ng-click="clearFilters()">Clear all filters</a>
		<div class="filters-search">
			<div class="filters-search-title"><i class="fa fa-search"  aria-hidden="true"></i><span>Search</span></div>
			<div class="buttongroup">
				<input type="text" name="search" placeholder="Search {{entityFilters[entity].name}}"/><div class="buttongroup-button"><i class="fa fa-search"  aria-hidden="true"></i></div>
			</div>
		</div>
	</div>
</div>