nyu-cage{
	div.view-popup{
		position: absolute;
    	z-index: 2;
    	overflow: scroll;
    	margin-left: 0px;
    	margin-right: 0px;
    	min-height: calc(100vh - 50px);
    	min-width: 100%;
    	/**/    
    	background-color: #FFFFFF;
    	@media (max-width: $break-mobile) and (max-height: 420px) {
    		min-width: calc(100% - 50px);
    		min-height: 100vh;
    	}
	}
	/*TESTING*/
	div.form-login{
		margin: 90px;
	}
	div.user-information{
		margin: 90px;
	}

	.Cultural{background-color:$container-gray;}
	.Administrative{background-color: $emerald-green;}
	.Geographic{background-color: $apple-green;}
	.Economic{background-color: $container-blue;}
	.Other{background-color: $cage-blue-text;}
	.NA{background-color: $cage-blue-text;}
	.Size{background-color: $emerald-green;}
	div.cage-slider-container{
		    min-height: 70px;
	}
	/*END TESTING*/

	/***************
	*****CAGE******
	***************/
	.cta-selection{
		a:first-child{float:left;}
		a:last-child{float:right;}
	}
	//LAYOUT VIEW RESUME
	.view-resume-header{
		background-color: $darkest-blue;
		color: white;
		padding: 5%;
		div{margin: 3% 0%;}
	}
	//LAYOUT VIEW MENU
	.view-menu{
		a{width: 30%;}
	}
	//LAYOUT IMPACTS
	.impacts-key{
		margin-bottom: 40px;
	}
}