<!-- PAYPAL -->
<paypal-payment></paypal-payment>
<!-- ENDPAYPAL-->
<div class="form-login row" ng-if="!root.actualUser.logged">
	<user-login class="col-xs-6"></user-login>
	<user-register class="col-xs-6"></user-register>	
</div>
<div class="user-information row" ng-if="root.actualUser.logged">
	<div class="col-xs-4">
<!--GENERAL USER INFO-->
		<h2>Welcome {{root.actualUser.nicename}}!</h2>
		<span> Name : {{root.actualUser.name}}</span> <br> 
		<span> Email : {{root.actualUser.email}}</span> <br>
		<user-logout></user-logout>
		<button type="button" class="btn btn-default" ng-click="showOther = !showOther">{{(!showOther) ? 'Show': 'Hide';}} user Info</button>
<!--UPLOAD-->
		<h2>SUBIR CSV:</h2>
		<csv-upload></csv-upload>
<!--USERS CSV-->	    

    	<h2>CSVs subidos:</h2>
    	<csv-show></csv-show>

	</div>
<!--OTHER INFO-->	
	<div class="other-information col-xs-8" ng-if="showOther">
		<user-change-pass class="col-xs-6"></user-change-pass>
		<user-information class="col-xs-6"></user-information>
	</div>
</div>
