<!-- POPUP -->
<div class="view-popup row" ng-if="viewController.open">
	<!-- POPUP SELECTION COUNTRY -->
	<div ng-if="viewController.popUpState == 'country'">
		<div class="close-cross" ng-click="viewController.closePopUp()">X</div>
		<h4>Country / Aggregate</h4>
		<select-tag-input max-tags="1" variables="countries" result="selectedCountry" dataType="country"></select-tag-input>
		<dd-item variables="countries" result="selectedCountry" select-type="radio"></dd-item>
	</div>
	<!-- POPUP SELECTION INDICATORS -->
	<div ng-if="viewController.popUpState == 'indicators'">
		<div class="close-cross" ng-click="viewController.closePopUp()">X</div>
		<h4>INDICATORS</h4>
		<dd-radio-item variables="indicators" result="selectedIndicators"></dd-radio-item>
	</div>
	<!-- POPUP DISTANCE VARIABLES TO SHOW-->
	<div ng-if="viewController.popUpState == 'distanceVariables'">
		<div class="close-cross" ng-click="viewController.closePopUp(); layoutView.state = 'impacts';">X</div>
		<cage-select-distance-varibles variables="sliderSections"></cage-select-distance-varibles>
	</div>
	<!-- POPUP USER LOGIN/LOGOUT -->
	<div ng-if="viewController.popUpState == 'userLog'">
		<div class="close-cross" ng-click="viewController.closePopUp()">X</div>
		<!-- POPUP USER NOT LOG -->
		<div ng-if="!root.actualUser.logged">
			<user-login callback="userLoginCallback"></user-login>
			<button class="btn btn-primary" ng-click="viewController.toggleView(true, 'userRegister')">SIGN UP FOR FREE ACCOUNT</button>
			<button class="btn btn-primary" ng-click="viewController.toggleView(true, 'userRegisterPremium')">VIEW SUBSCRIPTION DETAILS</button>
		</div>
		<!-- POPUP USER LOGGED -->
		<div ng-if="root.actualUser.logged">
			<a href="#" ng-click="viewController.toggleView(true, 'userSettings')">View Account Settings</a>
			<user-logout></user-logout>
		</div>
	</div>
	<!-- POPUP USER REGISTER -->
	<div ng-if="viewController.popUpState == 'userRegister' || viewController.popUpState == 'userRegisterPremium' || viewController.popUpState == 'userUpgradePremium'">
		<div class="close-cross" ng-click="viewController.closePopUp()">X</div>
		<button class="btn btn-primary" ng-click="viewController.toggleView(true, viewController.lastPopUpState)">BACK</button>

		<user-register terms="viewTerms" callback="userLoginCallback" type="viewController.popUpState"></user-register>

	</div>
	<!-- POPUP USER REGISTER TERMS -->
	<div ng-if="viewController.popUpState == 'userRegisterTerms'">
		<button class="btn btn-primary" ng-click="viewController.toggleView(true, viewController.lastPopUpState)">BACK</button>
		<div>CAGE Comparator™ Terms and Conditions......... (like lorem)</div>	
	</div>
	<!-- POP USER SETTINGS -->
	<div ng-if="viewController.popUpState == 'userSettings'">
		<div class="close-cross" ng-click="viewController.closePopUp()">X</div>
		<user-change-pass></user-change-pass>
		<user-information></user-information>
	</div>

</div>

<!-- LAYOUT -->
<div class="view-template" ng-if="!viewController.open" style="margin-top: 100px;">
	<button ng-click="viewController.toggleView(true, 'userLog')"><i class="fa fa-user" aria-hidden="true"></i></button>
	<!-- LAYOUT SELECTION COUNTRY & INDICATORS -->
	<div ng-if="viewController.state == 'selection'">
		<h4>Country:</h4>
			<div>
				<span>Selected = {{selectedCountry.name}}</span>
				<button ng-click="viewController.toggleView(true, 'country')">SELECT</button>
			</div>
		<h4>Indicators:</h4>
			<div>
				<span>Selected = {{selectedIndicators.items}}</span>
				<button ng-click="viewController.toggleView(true, 'indicators')">SELECT</button>
			</div>	
		<button ng-click="viewController.state = 'view';">GENERATE DISTANCE ANALYSIS</button>	
	</div>
	<!-- LAYOUT VIEW -->
	<div ng-if="viewController.state == 'view'">
		<!-- LAYOUT VIEW RESUME -->
		<div>
			<div><strong>Focus Country:</strong> {{selectedCountry.name}}</div>
			<div><strong>Indicator:</strong> <span ng-repeat="indicatorItem in selectedIndicators.items track by $index">{{indicatorItem.parent}} > {{indicatorItem.name}}, </span></div>
			<div><button ng-click="viewController.state = 'selection';">Change</button></div>			
		</div>
		<!-- LAYOUT VIEW MENU -->
		<div>
			<button class="btn btn-primary" ng-click="layoutView.state = 'impacts';">Impacts</button>
			<button class="btn btn-primary" ng-click="layoutView.state = 'table';">Table</button>
			<button class="btn btn-primary" ng-click="layoutView.state = 'map';">Map</button>			
		</div>
		<!-- LAYOUT IMPACTS -->
		<div ng-if="layoutView.state == 'impacts'">
			<div ng-repeat="(key, sliders) in sliderSections" ng-class="key">
				<div>{{key}}</div>
				<div ng-repeat="(sliderSectionKey, sliderSection) in sliders">
					<div ng-if="sliderItem.default" ng-repeat="sliderItem in sliderSection" class="cage-slider-container">
						<cage-slider name="{{sliderItem.name}}" value="{{sliderItem.value}}"></cage-slider>						
					</div>
				</div>
			</div>
			<div>
				<button class="btn btn-primary" ng-click="layoutView.state = 'table';">VIEW RESULTS TABLE</button>
				<a href="#" class="btn btn-primary" ng-click="viewController.toggleView(true, 'distanceVariables')">Select Other Distance Variables</a>
			</div>
		</div>
		<!-- LAYOUT TABLE -->
		<div ng-if="layoutView.state == 'table'" ng-init="columnToShow = 'geographicDistance'">
			<h1>TABLEEEEEEE</h1>
			<!-- LAYOUT TABLE MOBILE -->
			
			<select ng-model="columnToShow" ng-click="sortBy($event)">
					<option ng-repeat="tableHeaderItem in tableHeader" value="{{tableHeaderItem.id}}">{{tableHeaderItem.name}}</option>
			</select>
			
			<table class="table">
				<tr>
					<th ng-repeat="tableHeaderItem in tableHeader" ng-hide="(columnToShow != tableHeaderItem.id && tableHeaderItem.id !='country') && deviceDetector.isMobile() ">
						{{tableHeaderItem.name}} 
						<button class="btn btn-primary" ng-click="sortBy(tableHeaderItem.id)">
							<i ng-show="tableHeaderItem.id == propertyName && reverse" class="fa fa-sort-desc" aria-hidden="true"></i>
							<i ng-hide="tableHeaderItem.id == propertyName && reverse" class="fa fa-sort-asc" aria-hidden="true"></i>
						</button>
					</th>
				</tr>
				<tr ng-repeat="tableItem in tableResult  | orderBy:propertyName:reverse">
					<td ng-show="deviceDetector.isMobile()">{{tableItem.name}}</td>
					<td ng-repeat="(tableItemItemKey, tableItemItem) in tableItem" ng-hide="(columnToShow != tableItemItemKey) && deviceDetector.isMobile()">{{tableItemItem}}</td>
				</tr>
			</table>
		</div>
		<!-- LAYOUT MAP -->
		<div ng-if="layoutView.state == 'map'">
			<h1>MAAAAAAAAAAAAAP</h1>
		</div>
	</div>
</div>


<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->

<div class="view-popup row" ng-if="popUpController.open" style="display:none;">
	<!-- CAGE SLIDER -->
	<button ng-click="popUpController.togglePopUp(false)" style="    margin-top: 100px;">aaaa</button>
	<div class="col-xs-12 col-md-3" ng-repeat="(key, sliders) in sliderSections" ng-class="key" >
		<div>{{key}}</div>
		<div ng-repeat="(sliderSectionKey, sliderSection) in sliders">
			<cage-slider ng-if="sliderItem.default" class="col-xs-12" ng-repeat="sliderItem in sliderSection" name="{{sliderItem.name}}" value="{{sliderItem.value}}"></cage-slider>
		</div>
	</div>
	<!-- END CAGE SLIDER -->
</div>




<div class="view-template" ng-if="!popUpController.open" style="display: none;">
<button  style="    margin-top: 100px;">aaaa</button>

<!-- PAYPAL -->
<paypal-payment></paypal-payment>
<!-- ENDPAYPAL-->
<div class="form-login row" ng-if="!root.actualUser.logged">
	<user-login class="col-xs-6"></user-login>
	<user-register class="col-xs-6"></user-register>	
</div>



<!-- INTRO -->
<div class="col-xs-12 col-md-3" style="clear: both;">
<!--country-->
	<div>Selected = {{selectedCountry.name}}{{selectedCountry.items}}</div>
	<select-tag-input variables="countries" result="selectedCountry" dataType="country"></select-tag-input>
	<dd-item variables="countries" result="selectedCountry" select-type="radio"></dd-item>
<!--end country-->
	<indicator variables="countries"></indicator>
	<hr>	
</div>
<!-- END INTRO -->

<!-- SELECT DISTANCE VARIABLES -->
<div class="col-xs-12">
	<cage-select-distance-varibles variables="sliderSections"></cage-select-distance-varibles>
</div>
<!-- END SELECT DISTANCE VARIABLES -->

<div class="user-information row" ng-if="root.actualUser.logged">
	<div class="col-xs-4">
<!--GENERAL USER INFO-->
		<h2>Welcome {{root.actualUser.nicename}}!</h2>
		<span> Name : {{root.actualUser.name}}</span> <br> 
		<span> Email : {{root.actualUser.email}}</span> <br>
		<user-logout></user-logout>
		<button type="button" class="btn btn-primary btn-default" ng-click="showOther = !showOther">{{(!showOther) ? 'Show': 'Hide';}} user Info</button>
<!--UPLOAD-->
		<h2>SUBIR CSV:</h2>
		<csv-upload></csv-upload>
<!--USERS CSV-->	    

    	<h2>CSVs subidos:</h2>
    	<csv-show></csv-show>

	</div>
<!--OTHER INFO-->	
	<div class="other-information col-xs-8" ng-if="showOther">
		<user-change-pass class="col-xs-6"></user-change-pass>
		<user-information class="col-xs-6"></user-information>
	</div>
</div>
</div>