<div class="list-item book-list-item row">
	<div class="item-image col-xs-5" ng-if="img !== ''">
		<a ui-sref="app.booksitem({id: item.id,title:item.title})" class="item-image-container">
			<img ng-src="{{item.picture === ''?'/localdata/img/generic_book.png':item.picture}}" />
		</a>
		<a class="cta cta-light-blue show-mobile">read more</a>
	</div>
	<div class="item-content {{img !== ''?'col-xs-7':'col-xs-12'}}" >
		<div class="item-author" ng-bind-html="item.author"></div>
		<a ui-sref="app.booksitem({id: item.id,title: item.title})" ng-if="title !==''" class="item-title" ng-bind-html="item.title"></a>
		<div class="item-subtitle" ng-bind-html="item.subtitle"></div>
		<div class="item-content" ng-bind-html="item.content_short"></div>
		<a href="{{item.main_cta}}" ng-if="item.main_cta !== ''" target="_blank"  class="cta cta-light-blue cat-2" ng-bind-html="'Purchase'"></a>
		<a ui-sref="app.booksitem({id: item.id,title: item.title})" class="cta cta-light-blue show-desktop-inline">read more</a>
		
	</div>
</div> 