<h3 class="color-blue">CAGE Comparator™ Terms and
Conditions</h3>
<p>Developer has developed and licenses to
users its software program marketed under
the name CAGE Comparator™ (the
"Software").</p>
<p>Licensee desires to utilize a copy of the
Software for evaluation purposes, as an
extension of an educational program
covering concepts applied in the Software.
NOW, THEREFORE, in consideration of the
mutual promises set forth herein, Developer
and Licensee agree as follows:</p>
<p>1. License.<br> 	
Developer hereby grants to Licensee a
limited license to use the Software as set
forth in this Agreement, during the
Subscription Period selected by the
Licensee.</p>
<p>2. Restrictions. <br>
Licensee shall not modify, copy, duplicate,
reproduce, license or sublicense the
Software, or transfer or convey the
Software or any right in the Software to
anyone else without the prior written
consent of Developer. Licensee is expressly
prohibited from transferring the software
wholly or in part to any third party or from
sharing any data contained within the
software with any third party without prior
written consent of Developer.</p>
<p>3. Proprietary Rights. <br>
Licensee recognizes that Developer regards
the Software as its proprietary information
and as confidential trade secrets of great
value. Licensee agrees not to provide or to
otherwise make available in any form the
Software, or any portion thereof, to any
person other than employees of Licensee
without the prior written consent of
Developer.</p>
<p>4. Warranty. <br>
The Software is provided "as is" and
Developer provides no warranty as to the
function or use of the Software, whether
express, implied, or statutory, including
without limitation, any implied warrantees
of merchantability or fitness for particular
purpose. The entire risk as to the quality
and performance of the Software is with
the Licensee.</p>
<p>5. Limitation of Liability. <br>
Developer shall not be responsible for, and
shall not pay, any amount of incidental,
consequential or other indirect damages,
whether based on lost revenue or
otherwise, regardless of whether Developer
was advised of the possibility of such
losses in advance. In no event shall
Developer's liability hereunder exceed the
amount of license fees paid by Licensee,
regardless of whether Licensee's claim is
based on contract, tort, strict liability,
product liability or otherwise.</p>
<p>6. No Assignment. <br>
Neither this Agreement nor any interest in
this Agreement may be assigned by
Licensee without the prior express written
approval of Developer.</p>
<p>7. Final Agreement. <br>
This Agreement terminates and supersedes
all prior understandings or agreements on
the subject matter hereof. This Agreement
may be modified only by a further writing
that is duly executed by both parties.</p>
<p>8. Severability. <br>
If any term of this Agreement is held by a
court of competent jurisdiction to be invalid
or unenforceable, then this Agreement,
including all of the remaining terms, will
remain in full force and effect as if such
invalid or unenforceable term had never
been included.</p>
<p>9. Headings. <br>
Headings used in this Agreement are
provided for convenience only and shall not
be used to construe meaning or intent. </p>
