<ul>
	<li  ng-repeat="(dropDownKey, dropDown) in variables" ng-click="dropDownCollapsed[dropDownKey] = !dropDownCollapsed[dropDownKey]" ng-class="{'active' : dropDownCollapsed[dropDownKey]}">
		<span>{{dropDownKey}}
			<i class="fa" ng-class="(dropDownCollapsed[dropDownKey]) ? 'fa-angle-up' : 'fa-angle-down'" aria-hidden="true"></i>
		</span>
		<ul>
			<li ng-repeat="(inputItemKey, inputItem) in dropDown" uib-collapse="!dropDownCollapsed[dropDownKey]">
				<label>
					<input  type="checkbox" name="{{inputItemKey}}" value="inputItemKey" ng-checked="childSelect(dropDownKey, inputItemKey)" ng-click="parentSelect(dropDownKey, inputItemKey);">
					<span class="custom-checkbox">{{inputItemKey}}</span>
				</label>
				<ul>
					<li ng-repeat="(inputItemItemKey, inputItemItem) in inputItem">
						<label>
							<input  type="checkbox" name="{{inputItemKey}}{{inputItemItem.name}}" value="inputItemItem.name" ng-checked="inputItemItem.default" ng-click="childSelect(dropDownKey, inputItemKey);">
								<span class="custom-checkbox">{{inputItemItem.name}}</span>
						</label>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>