<a href="" class="btn-icon"					
	socialshare
	socialshare-provider="twitter"
	socialshare-text="{{title}}"
	socialshare-hashtags=""
	socialshare-url="{{getUrl()}}"><i class="fa fa-twitter"  aria-hidden="true"></i></a>
<a href="" class="btn-icon"
	socialshare
	socialshare-provider="facebook" 
	socialshare-url="{{getUrl()}}"
	socialshare-text="{{title}}"
	socialshare-description="{{content}}"
	socialshare-media="{{picture}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
<a href="" class="btn-icon"
	socialshare
	socialshare-provider="email" 
	socialshare-subject="Shared page from PankajGhemawat.com" 
	socialshare-body="{{content}} See more: {{getUrl()}}" 
	socialshare-cc="{{title}}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>