/**/
.home-hero {
	position: relative;
   	width: 101%;
	min-height: 485px;
	background-size: cover;
	background-position: center;
	margin: -2px -2px;
	overflow: hidden;

	.home-hero-content{
		position: absolute;
		top: 15%;
    	margin-left: 20px;
    	//max-width: 30%;
    	width: 430px;
    	padding: 20px;
    	background-color: rgba(0,0,0,0.25);

    	.line-title{
    		color:#FFFFFF;
    		font-size: 2.9em;
    		line-height: 1.3em;
    		padding-top: 20px;
    		text-align: left;
    	}

    	.subtitle{
    		margin-top: 40px;
    		color:#FFFFFF;
    		font-size: 1.3em;
    		line-height: 1.3em;
    		text-align: left;

    		.subtitle-top{
    			text-align:left;
    			font-weight: 700;
    		}
    		.subtitle-bottom{
    			text-align:left;
    			margin-bottom: 30px;
    		}
    	}
	}
	.cta{
		position: absolute;
	    bottom: 10%;
	    margin-left: 20px;
	}

	@media only screen and (max-width: $break-mobile) {
		min-height: 328px;

		.home-hero-content{
		    //width: 100%;
		    //max-width:70%;
		    width: 240px;
		    top: 75px;
		    left: 20px;
		    margin-left: 0;
		    padding: 10px 20px;
    		text-align: center;

			.line-title{
				padding-top: 10px;
				font-size: 2rem;
			}

			.subtitle{
				width: 100%;
				margin-top: 20px;
			    text-align: center;
			    left: 0;
			    font-size: 1.2rem;

			    .subtitle-bottom{
					//margin-bottom:70px;
			    }
			}
		}
		.cta{
			left:20px;
			margin-left: 0;
		}
	}
}

.home-section {
	position: relative;
	padding: 70px 0;

	.subsection-img{
		margin-bottom: 20px;
		cursor:pointer;

		img{
			width: 100%;
		}
	}

	.home-section-column-right {
		padding-left: 50px;
	}
	.home-section-column-left {
		padding-right: 50px;
	}
	.home-section-column-twitter{
		max-height: 410px;
		overflow: scroll;

	}

	@media only screen and (max-width: $break-laptop) {
		.home-section-column-right {
			padding-left: 20px;
		}
		.home-section-column-left {
			padding-right: 20px;
		}
		.home-section-column-twitter{
			-webkit-overflow-scrolling:touch; overflow:auto;
		}
	}

	@media only screen and (max-width: $break-mobile) {
		padding-top: 40px;
		text-align:center;
		font-weight: 300;

		.home-section-column-right {
			padding-left: 15px;
			margin-top: 70px;
		}
		.home-section-column-left {
			padding-right: 15px;
		}

		.home-section-column-twitter{
			-webkit-overflow-scrolling:auto; 
			overflow:hidden; 
		}

		.mobile-margin-top{
			margin-top: 70px;
		}
		.mobile-margin-top-none{
			margin-top: 0px;
		}
	}

	.subsection-content{
		margin-bottom: 20px;
		font-size:1.7rem;
		text-align:left;

	}

	&.home-blue {
		background-color: #004182;

		.blue-title{
			margin: 20px 0;
			font-weight: 700;
			text-transform:uppercase;
			color:#2E80FF;
			text-align:center;
		}

		.subsection-content{
			color:#FFFFFF;
		}
	}

	&.no-padding-top{
		padding-top: 0;
	}

	@media only screen and (max-width: $break-mobile) {
		.home-about{
			.subsection-img{
				float:left;
			}
			.subsection-content{
				padding: 0 15px;
			}
		}
	}
}

.home-list-item{
	margin-bottom: 0 !important;
	overflow: hidden;

	@media only screen and (max-width: $break-mobile) {
		.item-image{
			margin-top: 0 !important;
			padding-right:0;
		}
	}
}

/*****SLIDE*****/
div.the-slider{
	position: relative;
	width: 100%;
	&.slide-container, 
	.slide-container{
		overflow: hidden;		
	}


	//@include transition(left 1s ease-in-out);
	div[ng-repeat]{
		//display:inline;
		//float: left;
		//width: 33%;
		position: absolute;
		width: 100%;
		left: 100%;
		span{
		display: block;
		clear: both;
		}
	}		
}


