<div class="home-hero" style="background-image:url('/localdata/img/home.png')">
	<div class="margin-content">
		<div class="home-hero-content">
			<div class="line-title lt-big lt-white">Actually the world isn’t flat</div>
			<div class="subtitle">
				<div class="subtitle-top">TED Talk</div>
				<div class="subtitle-bottom">June 2012</div>
			</div>
		</div>
		<a class="cta cta-light-blue">LEARN MORE</a>
	</div>
</div>
<section class="home-section">
	<div class="margin-content">
		<div class="row">
			<div class="col-sm-6 show-mobile">
				<div class="line-title lt-normal lt-gray slider-directive-latest-mobile" item="latestmobile">
					Latest Thinking
					<div class="buttons">
						<a href="#" class="arrow left" ng-click="latestmobile.move('left')"></a>
						<div class="pages">{{latestmobile.actual + 1}}/{{latestmobile.length}}</div>
						<a href="#" class="arrow right" ng-click="latestmobile.move('right')"></a>
					</div>
				</div>
				<div class="the-slider slide-container slide-container-mobile">
					<div ng-repeat="(key, lat) in latestmobile.items" class="{{latestmobile.name}}-item" slider-id="{{latestmobile.name}}-{{key}}" slider-id-mobile="{{latestmobile.name}}-{{key}}">
						<div class="subsection-img">
							<img ng-src="{{lat.picture}}" />
						</div>
						<div class="subsection-content" ng-bind-html="lat.content"></div>
						<div class="mobile-social btns-gray show-mobile">
							<span class="btn-caption">SHARE</span>
							<a href="" class="btn-icon"><i class="fa fa-twitter"  aria-hidden="true"></i></a>
							<a href="" class="btn-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="" class="btn-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 mobile-margin-top slider-directive" item="books">
			<!--header-->
				<div class="line-title lt-normal lt-gray">
					Books
					<div class="buttons">
						<a href="#" class="arrow left" ng-click="items.move('left')"></a>
						<div class="pages">{{items.actual + 1}}/{{items.length}}</div>
						<a href="#" class="arrow right" ng-click="items.move('right')"></a>
					</div>
				</div>
			<!--books-->
				<div class="list-item home-list-item row slide-container">
					<div class="the-slider">
						<div ng-repeat="(key, book) in items.items" class="{{items.name}}-item" slider-id="{{items.name}}-{{key}}">
							<div class="item-image col-xs-5" ng-if="img !== ''">
								<a ui-sref="app.booksitem({id: book.id ,title: book.title})" class="item-image-container">
									<img ng-src="{{book.picture}}" />
								</a>
								<a  class="cta cta-light-blue show-mobile">read more</a>
							</div>
							<div class="item-content {{img !== ''?'col-xs-7':'col-xs-12'}}" >
								<div class="item-author">{{book.author}}</div>
								<a ui-sref="app.booksitem({id: book.id ,title: book.title})" ng-if="title !==''" class="item-title">{{book.title}}</a>
								<div class="item-subtitle">{{book.subtitle}}</div>
								<div class="item-content" ng-bind-html="book.content_short"></div>
								<a ui-sref="app.booksitem({id: book.id ,title: book.title})" class="cta cta-light-blue show-desktop-inline">read more</a>
							</div>
							<span></span>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
</section>
<section class="home-section home-blue">
	<div class="margin-content">
		<div class="row">
			<div class="col-sm-6 home-section-column-left show-desktop slider-directive-latest" item="latest">
				<div class="line-title lt-normal lt-white">
					Latest Thinking
					<div class="buttons">
						<a href="#" class="arrow left" ng-click="latest.move('left')"></a>
						<div class="pages">{{latest.actual + 1}}/{{latest.length}}</div>
						<a href="#" class="arrow right" ng-click="latest.move('right')"></a>
					</div>
				</div>
				<div class="the-slider slide-container">
					<div ng-repeat="(key, lat) in latest.items" class="{{latest.name}}-item" slider-id="{{latest.name}}-{{key}}">
						<div class="subsection-img">
							<img ng-src="{{lat.picture}}" />
						</div>
						<div class="subsection-content" ng-bind-html="lat.content"></div>
						<a class="cta cta-light-blue" href="{{lat.link}}">READ MORE</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 home-section-column-right mobile-margin-top-none">
				<div class="line-title lt-normal lt-white">Maps &amp; Visualizations</div>
				<div class="subsection-img">
					<img src="/localdata/img/home_maps.png" />
				</div>
				<div class="subsection-content">Shake up your thinking by looking at the world from the perspective of a particular country, industry , or company. "Rooted" maps can help you unearth hidden opportunities and threats.</div>
				<a class="cta cta-light-blue">Visualize</a>
			</div>
			<div class="col-sm-6 home-section-column-left show-mobile mobile-margin-top">
				<div class="line-title lt-normal lt-white">CAGE Comparator&trade;</div>
				<div class="subsection-img">
					<img src="/localdata/img/home_cage.png" />
				</div>
				<div class="subsection-content">Custom Analysis and Mapping covering 163 countries, 65 industries, and 16 types of distances and differences.</div>
				<a class="cta cta-light-blue">Discover more</a>
			</div>
		</div>
	</div>
</section>
<section class="home-section">
	<div class="margin-content">
		<div class="row">
			<div class="col-sm-6 home-section-column-left show-mobile home-about">
				<div class="line-title lt-normal lt-gray">About Pankaj Ghemawat</div>
				<div class="row">
					<div class="col-xs-5 col-sm-2 subsection-img" style="float:left">
						<img src="/localdata/img/home_about.png" />
					</div>
						<div class="subsection-content">Pankaj Ghemawat is the Global Professor of Management and Strategy and Director of the Center for the Globalization of Education and Management at the Stern School of Business at New York University, and the Anselmo Rubiralta Professor of Global Strategy at IESE Business School. Between 1983 and 2008 he was on the faculty at the Harvard Business School where, in 1991, he became the youngest person in the school's history to be appointed a full professor.</div>
					<a class="cta cta-light-blue">See full bio</a>
				</div>	
			</div>
			<div class="col-sm-6 home-section-column-left show-desktop">
				<div class="line-title lt-normal lt-gray">CAGE Comparator&trade;</div>
				<div class="subsection-img">
					<img src="/localdata/img/home_cage.png" />
				</div>
				<div class="subsection-content">Custom Analysis and Mapping covering 163 countries, 65 industries, and 16 types of distances and differences.</div>
				<a class="cta cta-light-blue">Discover more</a>
			</div>
			<div class="col-sm-6 home-section-column-right">
				<div class="line-title lt-normal lt-gray">Latest Tweets</div>
				<div class="home-section-column-twitter">
					<a class="twitter-timeline" data-chrome="noheader nofooter noborders" data-link-color="#0080FF" href="https://twitter.com/PankajGhemawat"></a> 	
				</div>				
			</div>
		</div>
	</div>
</section>
<section class="home-section no-padding-top show-desktop">
	<div class="margin-content">
		<div class="line-title lt-normal lt-gray">About Pankaj Ghemawat</div>
		<div class="row">
			<div class="col-sm-2 subsection-img">
				<img src="/localdata/img/home_about.png" />
			</div>
			<div class="col-sm-10">
				<div class="subsection-content">Pankaj Ghemawat is the Global Professor of Management and Strategy and Director of the Center for the Globalization of Education and Management at the Stern School of Business at New York University, and the Anselmo Rubiralta Professor of Global Strategy at IESE Business School. Between 1983 and 2008 he was on the faculty at the Harvard Business School where, in 1991, he became the youngest person in the school's history to be appointed a full professor.</div>
				<a ui-sref="app.about" class="cta cta-light-blue">See full bio</a>
			</div>
		</div>	
</section>