<!-- MOBIILE -->
<div class="cage-mobile-view" ng-if="root.isMobile">
	<!-- POPUP -->
	<div class="view-popup row" ng-if="viewController.open">
		<!-- POPUP DISTANCE VARIABLES TO SHOW-->
		<div ng-if="viewController.popUpState == 'distanceVariables'">
			<cage-select-distance-varibles class="standard" variables="temporalDistanceVariables.items"></cage-select-distance-varibles>
			<hr>
			<div class="cta-distance-variables row content margin-all cta-selection">
				<a  class="cta cta-darkest-blue"
				    ng-click="selectedDistanceVariables.items = temporalDistanceVariables.items; 
				   			 viewController.closePopUp();">SAVE CHANGES</a>
				<a  class="cta cta-light-gray"
					ng-click="viewController.closePopUp();">CANCEL</a>		
			</div>
		</div>
		<!-- POPUP USER LOGIN/LOGOUT -->
		<div ng-if="viewController.popUpState == 'userLog'">
			<div class="close-cross" ng-click="viewController.goBack();"></div>
			<!-- POPUP USER NOT LOG -->
			<div ng-if="!root.actualUser.logged">
				<user-login class="content margin-bottom" callback="userLoginCallback"></user-login>
				<div class="register content margin-all">
					<div class="content margin-top">Not yet registered? Register now for free</div>				
					<a href="#" class="cta cta-dark-blue" ng-click="viewController.toggleView(true, 'userRegister')">SIGN UP FOR FREE ACCOUNT</a>
					<div class="content margin-top">Discover the benefits of becoming a paid subscriber</div>
					<a href="#" class="cta cta-dark-blue" ng-click="viewController.toggleView(true, 'userRegisterPremium')">VIEW SUBSCRIPTION DETAILS</a>
				</div>
			</div>
			<!-- POPUP USER LOGGED -->
			<div ng-if="root.actualUser.logged" class="content margin-all text-align-center">
				<a class="custom-link-extender content margin-v" href="#" ng-click="viewController.toggleView(true, 'userSettings')">View Account Settings</a>
				<user-logout on-logout="userLogoutCallback" class="content margin-v"></user-logout>
			</div>
		</div>
		<!-- POPUP USER REGISTER -->
		<div ng-if="viewController.popUpState == 'userRegister' || viewController.popUpState == 'userRegisterPremium' || viewController.popUpState == 'userUpgradePremium'">

			<div class="close-cross" ng-click="viewController.goBack();"></div>
			<!--<button class="btn btn-primary" ng-click="viewController.toggleView(true, viewController.lastPopUpState)">BACK</button>-->

			<user-register terms="viewTerms" callback="userLoginCallback" type="viewController.popUpState" view-controller="viewController"></user-register>

		</div>
		<!-- POPUP USER REGISTER TERMS -->
		<div ng-if="viewController.popUpState == 'userRegisterTerms'">
			<!--<button class="btn btn-primary" ng-click="viewController.toggleView(true, viewController.lastPopUpState)">BACK</button>-->
			<div class="close-cross" ng-click="viewController.goBack();"></div>
			<div class="content padding-all">CAGE Comparator™ Terms and Conditions......... (like lorem)</div>	
		</div>
		<!-- POP USER SETTINGS -->
		<div ng-if="viewController.popUpState == 'userSettings'" class="user-settings">
			<div class="close-cross" ng-click="viewController.closePopUp()"></div>
			<h3 class="color-blue margin-all">Account Settings</h3>
			<div class="content margin-h subscription-type">
				<user-sub-type view-controller="viewController"></user-sub-type> 				
			</div>
			<h3 class="color-blue margin-all">Access Details</h3>
			<div class="content margin-h">
				<div>Username: {{root.actualUser.name}}</div>
				<div class="content margin-bottom">Email: {{root.actualUser.email}}</div>
				<user-change-pass></user-change-pass>
			</div>
			<h3 class="color-blue margin-all">Profile Information</h3>
			<div class="content margin-h">
				<user-information></user-information>				
			</div>
		</div>
	</div>
	<div class="layout" ng-if="!viewController.open">
		<h3 class="color-blue margin-all">CAGE Comparator™ Country Comparison</h3>
		<div class="caption margin-h">Please select two countries between which to examine cultural, administrative, geographic and economic (CAGE) distances and differences.</div>
		<h3></h3>
		<h3 class="color-blue margin-no-bottom padding-xs-bottom">Country 1</h3>
		<custom-select class="content margin-no-top" options="countries['Individual Countries']" selected="selectedCountry1" on-select="" is-temporal="1"></custom-select>
		<h3 class="color-blue margin-no-bottom padding-xs-bottom">Country 2</h3>
		<custom-select class="content margin-no-top" options="countries['Individual Countries']" selected="selectedCountry2" on-select="" is-temporal="1"></custom-select>
		<div class="cta-generate-analysis row">
			<a href="#" class="cta cta-darkest-blue float-left" ng-click="generateDistanceAnalysis();">GENERATE DISTANCE <br> ANALYSIS</a>
			<a href="#" class="cta cta-light-gray float-right">CANCEL</a>
		</div>

		<!-- GENERATED TABLE -->
		<div class="table-distance" ng-if="analysisGenerated">
			<div ng-repeat="(Cultural, CulturalItems) in distanceAnalysisToShow.items" ng-class="Cultural" ng-if="activatedOptions(CulturalItems)">
				<h3 class="content margin-h padding-v color-white">{{Cultural}}</h3>
				<div ng-repeat="(Cepii, CepiiItems) in CulturalItems">
					<div ng-repeat="(itemKey, item) in CepiiItems track by $index" >
						<div class="row" ng-if="item.default">
							<div class="col-xs-8 content padding-no-top items">
								<p class="content no-margin">{{item.name}}</p>
								<p class="caption no-margin">{{item.comparatorInfo}}</p>								
							</div>
							<div class="col-xs-4">{{item.comparatorValue}}							
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- TABLE NO GENERATED -->
		<div class="table-ungenerated" ng-if="!analysisGenerated">
			<div ng-repeat="(Cultural, CulturalItems) in distanceAnalysisToShow.items" ng-if="activatedOptions(CulturalItems)">
				<h3 class="content margin-h padding-v color-white">{{Cultural}}</h3>
			</div>
		</div>
		<a class="custom-link-extender content margin-all" href="#" ng-click="viewController.toggleView(true, 'distanceVariables')">Select Other Distance Variables</a>
	</div>
</div>


<!-- DESKTOP -->
<div class="cage-desktop-view" ng-if="root.isDesktop">
	<!--Shape-->
	<div class="background-shape"  ng-class="{'active' : viewController.open}"  ng-click="viewController.closePopUp();"></div>
	<!--POPUP-->
	<div class="view-popup row" ng-if="viewController.open" ng-class="viewController.popUpSize">
		<!-- POPUP DISTANCE VARIABLES TO SHOW-->
		<div ng-if="viewController.popUpState == 'distanceVariables'">
			<cage-select-distance-varibles class="standard block margin-all" variables="temporalDistanceVariables.items"></cage-select-distance-varibles>
			<hr>
			<div class="cta-distance-variables row content margin-all cta-selection">
				<a  class="cta cta-darkest-blue caption float-left"
				    ng-click="selectedDistanceVariables.items = temporalDistanceVariables.items; 
				   			 viewController.closePopUp();">SAVE CHANGES</a>
				<a  class="cta cta-light-gray caption float-right"
					ng-click="viewController.closePopUp();">CANCEL</a>		
			</div>
		</div>
		<!-- POPUP USER LOGIN/LOGOUT -->
		<div ng-if="viewController.popUpState == 'userLog'">
			<div class="close-cross" ng-click="viewController.goBack();"></div>
			<!-- POPUP USER NOT LOG -->
			<div ng-if="!root.actualUser.logged">
				<user-login class="content margin-bottom" callback="userLoginCallback"></user-login>
				<div class="register content margin-all">
					<div class="content margin-top">Not yet registered? Register now for free</div>				
					<a href="#" class="cta cta-dark-blue" ng-click="viewController.toggleView(true, 'userRegister')">SIGN UP FOR FREE ACCOUNT</a>
					<div class="content margin-top">Discover the benefits of becoming a paid subscriber</div>
					<a href="#" class="cta cta-dark-blue" ng-click="viewController.toggleView(true, 'userRegisterPremium')">VIEW SUBSCRIPTION DETAILS</a>
				</div>
			</div>
			<!-- POPUP USER LOGGED -->
			<div ng-if="root.actualUser.logged" class="content margin-all text-align-center">
				<a class="custom-link-extender content margin-v" href="#" ng-click="viewController.toggleView(true, 'userSettings')">View Account Settings</a>
				<user-logout on-logout="userLogoutCallback" class="content margin-v"></user-logout>
			</div>
		</div>
		<!-- POPUP USER REGISTER -->
		<div ng-if="viewController.popUpState == 'userRegister' || viewController.popUpState == 'userRegisterPremium' || viewController.popUpState == 'userUpgradePremium'">
			<div class="close-cross" ng-click="viewController.goBack();"></div>
			<user-register terms="viewTerms" callback="userLoginCallback" type="viewController.popUpState" view-controller="viewController"></user-register>
		</div>
		<!-- POPUP USER REGISTER TERMS -->
		<div ng-if="viewController.popUpState == 'userRegisterTerms'">
			<div class="close-cross" ng-click="viewController.goBack();"></div>
			<div class="content padding-all">CAGE Comparator™ Terms and Conditions......... (like lorem)</div>	
		</div>
		<!-- POP USER SETTINGS -->
		<div ng-if="viewController.popUpState == 'userSettings'" class="user-settings">
			<div class="close-cross" ng-click="viewController.closePopUp()"></div>
			<!-- POP USER SETTINGS subs & pass -->
			<div class="column-settings first-column">
				<h3 class="color-blue margin-all">Account Settings</h3>
				<div class="content margin-h subscription-type">
					<user-sub-type view-controller="viewController"></user-sub-type> 			
				</div>
				<h3 class="color-blue margin-all">Access Details</h3>
				<div class="content margin-h">
					<div>Username: {{root.actualUser.name}}</div>
					<div class="content margin-bottom">Email: {{root.actualUser.email}}</div>
					<user-change-pass></user-change-pass>
				</div>
			</div>
			<div class="column-settings second-column">
				<h3 class="color-blue margin-all">Profile Information</h3>
				<div class="content margin-h">
					<user-information></user-information>				
				</div>				
			</div>
		</div>
	</div>
	<!--LAYOUT-->
	<div class="view-template row">
		
		<div class="information col-xs-12 row content padding-all">
			<div class="col-xs-4">
				<h3 class="color-blue margin-all">CAGE Comparator™ Country Comparison</h3>
				<div class="caption margin-h">Please select two countries between which to examine cultural, administrative, geographic and economic (CAGE) distances and differences.</div>
			</div>
		</div>
		<user-header class="user-header-menu content margin-all" color="#282A39" stroke-width="1"></user-header>
		<div class="col-xs-4">
			<div class="selection-zone content margin-h padding-top">
				<h3 class="color-blue margin-h padding-xs-bottom">Country 1</h3>
				<custom-select class="content margin-no-top" options="countries['Individual Countries']" selected="selectedCountry1" on-select="" is-temporal="1"></custom-select>
				<h3 class="color-blue margin-no-bottom padding-xs-bottom">Country 2</h3>
				<custom-select class="content margin-no-top" options="countries['Individual Countries']" selected="selectedCountry2" on-select="" is-temporal="1"></custom-select>
				<div class="cta-generate-analysis row">
					<a href="#" class="caption cta cta-darkest-blue float-left" ng-click="generateDistanceAnalysis();">GENERATE DISTANCE <br> ANALYSIS</a>
					<a href="#" class="caption cta cta-light-gray float-right">CANCEL</a>
				</div>
				<a class="custom-link-extender content margin-all padding-bottom" href="#" ng-click="viewController.toggleView(true, 'distanceVariables', '', 'sm')">Select Other Distance Variables</a>
			</div>
		</div>


		<!-- GENERATED TABLE -->
		<div class="table-distance col-xs-8" ng-if="analysisGenerated">
			<div class="custom-scroll-section content margin-right">
				<div ng-repeat="(Cultural, CulturalItems) in distanceAnalysisToShow.items" ng-class="Cultural" ng-if="activatedOptions(CulturalItems)">
					<h3 class="content margin-h padding-v color-white">{{Cultural}}</h3>
					<div ng-repeat="(Cepii, CepiiItems) in CulturalItems">
						<div ng-repeat="(itemKey, item) in CepiiItems track by $index" >
							<div class="row" ng-if="item.default">
								<div class="col-xs-4 content padding-no-top items">
									<p class="content no-margin">{{item.name}}</p>
									<p class="caption no-margin">{{item.comparatorInfo}}</p>								
								</div>
								<div class="col-xs-4 content no-padding">{{item.comparatorValue}}							
								</div>							
							</div>
						</div>
					</div>
				</div>			
			</div>
		</div>
		<!-- TABLE NO GENERATED -->
		<div class="table-ungenerated col-xs-8" ng-if="!analysisGenerated">
			<div ng-repeat="(Cultural, CulturalItems) in distanceAnalysisToShow.items" ng-if="activatedOptions(CulturalItems)" class="content margin-right">
				<h3 class="content margin-h padding-v color-white">{{Cultural}}</h3>
			</div>
		</div>
	</div>
	
</div>
