ng-back-to-top{
	$grey : rgb(217, 217, 217);
	display: block;
	position: absolute;
	width: 44px;
	height: 44px;
	background-color: $grey;
	top: -100px;
	cursor: pointer;
	@include transition(background-color 0.4s);
	&:hover{
		background-color: #B1B1B1;
	}
	&.left{
		left: 25px;
	}
	&.right{
		right: 25px;
	}
	&.hide{
		display: none !important;
	}

	@media only screen and (max-width: $break-mobile) {
		left: 50%;
		margin-left: -22px;
		top: -60px;
	}
}