ng-back-to-top{
	$grey : #B1B1B1;
	display: block;
	position: absolute;
	width: 44px;
	height: 44px;
	background-color: $grey;
	top: -100px;
	cursor: pointer;
	&.left{
		left: 25px;
	}
	&.right{
		right: 25px;
	}
	&.hide{
		display: none !important;
	}

	@media only screen and (max-width: $break-mobile) {
		left: 50%;
		margin-left: -22px;
	}
}