.item-section{
	padding-bottom: 95px;


	.side-item-info{
		div {
			padding: 14px 0;
			margin-top:0;
			border-bottom: 1px dotted #606362;
			font-size:1.6rem;
			font-weight: 300;
			color:#6F6F6E;

			&:first-child{
				margin-top:0 !important; /*mobile-social first child*/
				padding-top: 0;
			}
			&:last-child{
				border: none;
			}

			&.mobile-social{
				margin-top: 20px;
			}
		}

		.mobile-social {
			.btn-caption{
				margin-top: 8px;
			}
		}

		.publicationType{
			font-weight: 700;
		}

		.item-info-author{
			font-size: 1.7rem;
			color:#6BB5FE;
			font-weight: 300;
		}
	}

	.item-related{
		margin-top: 90px;

		.title{
			font-family: 'Merriweather', serif;
			font-size:1.7rem;
			color:#575756;
		}

		.related-items{
			margin-top:20px;

			a{
				display:block;
				padding-top: 15px;
				font-size: 1.6rem;
				color:#2D2E2D;
				font-weight: 700;
			}

			hr{
				margin:0;
				max-width: 70%;
			}
		}	
	}

	.main-item-content{
		.item-author{
			margin-bottom:5px;
			font-size:1.6rem;
			line-height: 1.6rem;
			color: #6BB5FE;
		}

		.item-title{
			margin: 0 0 5px 0;
			font-size:2.6rem;
			line-height:2.6rem;
			font-weight: 700;
			color:#2D2E2D;
			&.no-sub{
				margin-bottom: 25px;
			}
			
		}

		.item-subtitle{
		    font-size: 1.9rem;
		    line-height: 1.8rem;
		    font-weight: 700;
		    color: #2D2E2D;
		    margin-bottom: 10px;

			&.no-sub{
				margin-bottom: 20px;
			}
		}

		.item-image{
			.cta{
				max-width: 25%;
    			margin-left: 4%;
				vertical-align: top;
			}
			img{
				width: 70%;
				margin-bottom: 40px;
				vertical-align: top;
			}

			@media only screen and (max-width: $break-laptop) {
				white-space: nowrap;
				.cta{
					max-width: none;
				}
				img{
					width: 65%;
				}
			}

			@media only screen and (max-width: $break-mobile) {
				white-space: normal;
				.cta{
	    			margin-left: 0;
	    			margin-bottom: 15px;
				}
				img{
					width: 100%;
					margin-bottom: 20px;
				}
				
			}
		}

		.item-content-text{
			margin-bottom: 35px;
			text-align: left;
    		font-weight: 400;
    		font-size: 1.7rem;
    		line-height: 2.9rem;
    		@media only screen and (min-width: $break-mobile){
			    margin-top: 25px;
    		}
    		p{
				margin-bottom: 25px;
			}
		}

		.link-dark-blue{
			display:inline-block;
			margin-bottom: 20px;
			color:#174380;
			cursor:pointer;

		}

		.item-audio{
			margin-left: 0;
		}

		.other-link{
			display: inline-block;
			font-size: 1.7rem;
			font-weight: 300;
			font-style: italic;
			color:#313231;
			cursor:pointer;
		}
	}

	@media only screen and (max-width: $break-mobile) {
		margin-bottom:60px;

		.main-item-content {
			font-size: 1.6rem;

			.item-author{
				margin-bottom:5px;
				font-size:1.6rem;
				line-height: 1.6rem;
			}
			.item-title{
				font-size: 2.4rem;
				line-height: 3rem;
				margin-bottom: 5px;
			}
			.item-subtitle{
				font-size:1.6rem;
				line-height: 1.8rem;
				font-weight: 700;
			}
			.item-content-text{
				font-size:1.6rem;
				line-height: 2.7rem;
			}
			.cta {
				margin-top: 15px;
			}

			.link-dark-blue {
				font-size: 1.3rem;
				margin-top: 0px;

				&.xls-link{
					&:after{
					    width: 18px;
					    height: 21px;
					    margin-top: -3px;
					    margin-left: 7px;
					}
				}

				&.ext-link{
					&:after{
						width: 21px;
					    height: 21px;
					    margin-top: -3px;
					    margin-left: 7px;
					}
				}

			}
			.other-link{
				margin-top: 0px;
				font-size: 1.3rem;
			}
		} 

		.item-image{
			margin:12px 0 15px 0;
		}
	}

	&.books-item{
		.main-item-content{
			padding-bottom: 90px;
		}
	}
}

.item-info{
	margin-bottom: 25px;
	font-size:1.5rem;
	line-height: 2rem;
	color:#9C9B9B;
	font-weight: 300;

	.publicationType{
		font-weight: 700;
		text-transform: uppercase;
	}

	span{
		position: relative;
		display: inline;
		padding: 0;
		margin-right:8px;

		&.vertical-blue-line{
			color: #0983FD;
		    font-weight: 300;

		    &:last-child{
				display: none;
			}	
		}
	}
	
	@media only screen and (max-width: $break-mobile) {
		margin-bottom: 15px;
		font-size:1.3rem;
		line-height: 1.9rem;
		font-weight: 300;

		span{
			padding: 0;
			margin-right: 6px;
		}

	}

}