<div class="margin-content min-h">
	<div class="page-section item-section {{entity}}-item">
		<div ng-if="entity!=='books'" class="line-title lt-return lt-blue">
			<a ui-sref="app.{{subentity?subentity:entity}}">Return TO {{getTopTitle()}}</a>
		</div>
		<div ng-if="entity==='books'" class="line-title lt-return-books lt-blue show-desktop">
			{{entityLabels[entity].name}}
		</div>
		<div class="row page-content">
			<div class="col-sm-4 side-item-content ng-fade" ng-show="item">
				<div class="side-item-info show-desktop">
					<div ng-if="item.author !==''" class="item-info-author" ng-bind-html="item.author"></div>
					<div ng-if="item.publicationType !==''" class="publicationType" ng-bind-html="item.publicationType"></div>
					<div ng-if="item.publication !==''" class="publication" ng-bind-html="item.publication"></div>
					<div ng-if="item.publisher !==''" class="publisher" ng-bind-html="item.publisher"></div>
					<div ng-if="item.date !==''" class="date" ng-bind-html="item.date"></div>
					<div ng-if="item.pages !==''" class="pages" ng-bind-html="item.pages"></div>
					<div ng-if="item.other !==''" class="other" ng-bind-html="item.other"></div>
					<div class="mobile-social btns-gray">
						<span class="btn-caption">SHARE</span>
						<social-share 
							entity="{{subentity?subentity:entity}}" 
							title="{{item.title}}"
							content="{{item.contentShort?item.contentShort:item.content}}" 
							id="{{item.id}}"
							picture="{{item.picture}}"
							type = "item"
							></social-share>
					</div>
				</div>
				<div ng-if="(entity !== 'books' && entity !== 'working') && item" class="item-related show-desktop">
					<div class="title"><span ng-if="realRelated()">Related</span> {{entityLabels[entity].altName}}</div>
					<div class="related-items" ng-repeat="r in related">
						<hr>
						<a ui-sref="app.{{subentity?subentity:entity}}item({id:r.id,title:r.title})">{{r.title}}</a>
					</div>
				</div>
			</div>
			<div class="col-sm-8 main-item-content ng-fade" ng-show="item">
				<div ng-if="item.author !==''" class="item-author show-mobile" ng-bind-html="item.author"></div>
				<h1 ng-if="item.title !==''" class="item-title" ng-bind-html="item.title" ng-class="{'no-sub':item.subtitle ==='' && !hasItemInfo()}"></h1>
				<h2 ng-if="item.subtitle !==''" class="item-subtitle" ng-bind-html="item.subtitle" ng-class="{'no-sub':!hasItemInfo()}"></h2>
				<div ng-if="hasItemInfo()" class="item-info show-mobile">
					<span ng-if="item.publicationType !==''" class="publicationType" ng-bind-html="item.publicationType"></span>
					<span ng-if="publicationType !==''" class="vertical-blue-line">&#124;</span>
					<span ng-if="item.publication !==''" class="publication" ng-bind-html="item.publication"></span>
					<span ng-if="item.publication !==''" class="vertical-blue-line">&#124;</span>
					<span ng-if="item.publisher !==''" class="publisher" ng-bind-html="item.publisher"></span>
					<span ng-if="item.publisher !==''" class="vertical-blue-line">&#124;</span>
					<span ng-if="item.date !==''" class="date" ng-bind-html="item.date"></span>
					<span ng-if="item.date !==''" class="vertical-blue-line">&#124;</span>
					<span ng-if="item.pages !==''" class="pages" ng-bind-html="item.pages"></span>
					<span ng-if="item.pages !==''" class="vertical-blue-line">&#124;</span>
					<span ng-if="item.other !==''" class="other" ng-bind-html="item.other"></span>
					<span ng-if="item.other !==''" class="vertical-blue-line">&#124;</span>
				</div> 
				<div ng-if="item.picture !== '' && !isEmbedYT()" class="item-image" ng-class="{'item-image-books':entity==='books'}">
					<img ng-src="{{item.picture}}" />	
					<a href="{{item.main_cta}}" target="_blank" ng-if="item.main_cta !== '' && entity === 'books'" class="cta cta-light-blue" ng-bind-html="'Purchase'"></a>	
					<a href="{{item.other_cta}}" target="_blank" ng-if="item.other_cta !== '' && entity === 'books'" class="cta cta-light-blue" ng-bind-html="'Appendix'"></a>	
				</div>
				<div ng-if="isEmbedYT()">
					<iframe width="100%" height="100%" ng-src="{{videoEmbed}}" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="col-sm-12" style="padding: 0;" ng-if="entity == 'podcasts'"  ng-show="item.audio && isPodcast()">
					<iframe style="margin:20px 0;" width="100%" height="166px" scrolling="no" frameborder="no" ng-src="{{audioEmbed}}"></iframe>
				</div>
				<!--<div class="item-audio col-sm-12" ng-if="entity == 'podcasts'"  ng-show="audio">
					//<a href="#" class="button" ng-click="toggleAudio()">
						<span class="play" ng-show="!audioPlaying"></span>
						<span class="pause" ng-show="audioPlaying"></span>
					</a><div class="play-bar">
						<div class="play-bar-range"></div>
						<div class="time-played">1:44</div>
						<div class="time-total">10:50</div>
					</div>//
					<div id="audio-here{{id}}"></div>
					<div class="no-padding col-sm-12" ng-if="entity == 'podcasts'" ng-show="audio">
						<a href="#" class="button" ng-click="toggleAudio('animation-'+id)">
							<svg x="0px" y="0px" width="65px" height="63px" viewBox="0 0 65 63" enable-background="new 0 0 65 63" xml:space="preserve">
								<path fill="#FFFFFF" stroke="#FFFFFF" stroke-miterlimit="10" d="M11,10 L18,13.74 18,22.28 11,26 M18,13.74 L26,18 26,18 18,22.28">
									<animate id="animation-{{id}}" 
										begin="indefinite" attributeType="XML" attributeName="d" fill="freeze" 
										from="M11,10 L17,10 17,26 11,26 M20,10 L26,10 26,26 20,26" 
										to="M11,10 L18,13.74 18,22.28 11,26 M18,13.74 L26,18 26,18 18,22.28" 
										dur="0.2s" keySplines=".4 0 1 1" repeatCount="1"></animate>
								</path>
							</svg>
						</a><div class="play-bar">
							<div class="play-bar-range" id="play-bar-{{id}}">
							<div class="bar total-bar"><div class="hide-bar"></div></div>
							<div class="bar actual-bar" id="control-time-{{id}}"><div class="hide-bar"></div></div>	
							</div>
							<div class="time-played">{{actualTime}}</div>
							<div class="time-total">{{audioDuration}}</div>
						</div>
					</div>
				</div>// -->
				<div class="item-content-text" ng-bind-html="item.content===''?item.content_short:item.content"></div>
			    <a ng-if="item.main_cta !== '' && entity !== 'books' && entity !== 'blog'" class="cta cta-light-blue" ng-bind-html="item.main_cta"></a>
				<a ng-if="item.main_cta_2 !== '' && entity !== 'books'" class="cta cta-light-blue cat-2" ng-bind-html="item.mainctatext2"></a>
				<div ng-if="item">
					<div class="new-cta"><a target="_blank" href="{{item.pdf_link}}" ng-if="(item.pdf_link !== '' && item.pdf_link !== undefined) && contentShort !== ''" class="cta cta-dark-blue" ng-bind-html="'View PDF'"></a></div>
					<div><a target="_blank" href="{{item.xls_link}}" ng-if="item.xls_link !== ''  && entity !== 'books'" class="link-dark-blue xls-link" ng-bind-html="'Download Results (EXCEL)'"></a></div>
					<div><a target="_blank" href="{{item.pdf_link_extra}}" ng-if="item.pdf_link_extra !== '' && item.pdf_link_extra !== null" class="link-dark-blue" ng-bind-html="'View Online Appendix (PDF)'"></a></div>
					<div><a target="_blank" href="{{item.ext_link}}" ng-if="item.ext_link !== '' && !isEmbedYT() && item.publicationType != 'VIDEOS'" class="link-dark-blue ext-link" ng-bind-html="'Read more on external site'"></a></div>
					<div><a target="_blank" href="{{item.ext_link}}" ng-if="item.ext_link !== '' && !isEmbedYT() && item.publicationType == 'VIDEOS'" class="link-dark-blue ext-link" ng-bind-html="'Watch video on external site'"></a></div>
					<div><a target="_blank" href="{{item.other_link}}" ng-if="item.other_link && item.other_link !== ''" class="other-link" ng-bind-html="'Read more about the DHL Global Connectedness Index on DHL’s website &gt;&gt;'"></a></div>
				</div>
				<div ng-if="entity ==='blog' && item" class="mobile-social btns-gray">
					<span class="btn-caption">SHARE</span>
					<social-share 
						entity="{{subentity?subentity:entity}}" 
						title="{{item.title}}"
						content="{{item.contentShort?item.contentShort:item.content}}" 
						id="{{item.id}}"
						picture="{{item.picture}}"
						type = "item"
						></social-share>
				</div>
			</div>
		</div>
		<div ng-if="entity === 'books' && item" class="row related-books">
			<div class="col-sm-12">
				<div ng-if="entity==='books' && item" class="line-title lt-return-books lt-blue">
					Other Books
				</div>	
			</div>
			<div class="col-sm-12">
				<nyu-book-list-item ng-repeat="i in related" item="i"></nyu-book-list-item>
			</div>
		</div>
	</div>
</div>