.columns-section{
	.main-content{
		ul{
			padding: 0;
			margin: 0;
			list-style-type: none;

			li{
				list-style: none;
			}
		}
	}	
 	.videos-column-left{
		padding-right:30px;
 	}
 	.videos-column-right{
 		padding-left:30px;	
 	}

}