.mediakit-list{
	font-weight:300;
	font-size: 1.7rem;

	ul{
		list-style-type: none;
		padding-left: 0;

		li{
			font-style: italic;
		}
	}
	.cta{
		margin-top: 15px;
	}
}

.mediakit-section{
	padding-bottom: 95px;

	.download-title{
		margin: 40px 0 15px 0;
		font-size: 1.4rem;
		font-weight: 300;
		color:#313231;
		line-height: 1.5rem;
	}

	input{
		display: block;
		width: 100%;
		height: 40px;
		padding-left: 7px;
		line-height: 40px;
		background-color: #FFFFFF;
		border: 1px solid #222221;
		font-style: italic;
		font-size: 1.4rem;
		font-weight: 300;
		-webkit-appearance: none;
		border-radius: 0;
	}

	.button-container{
		margin: 20px 0 0 0;
		text-align: center;

		.cta{
			    min-width: 40%;
		}
	}

	.or{
		margin-top: 50px;
		text-align: center;

		hr{
			border-color: #616362;
			margin-bottom: -15px;
		}

		.text{
			padding: 5px 11px;
			display:inline-block;
			font-size:1.4rem;
			font-weight: 300;
			background: #FFFFFF;
			text-transform: uppercase;
		}
	}

	.mediakit-resources{
		column-width: 90px;
    	column-gap: 10px;
		.resource{
		    text-align: center;
		    //margin-top: 20px;
		    padding: 0;
		    cursor: pointer;
			width:100%;
			.image-container{
			    width: 100%;
			    border: 4px solid #FFFFFF;
			    background-size: cover;
			    background-position: center;
			}

			&.selected {
				.image-container{
					border-color: #2E80FF;	
				}
		    }

			.title{
				font-size:1rem;
				line-height: 1rem;
				font-weight: 300;
				color:#313231;
			}	

		}
	}
}