<div class="list-top-img show-desktop">
	<div class="bg-image" style="background-image:url('/assets/img/top_mediakit.png');" ></div>
	<div class="gradient"></div>
	<div class="margin-content">
		<div class="line-title lt-huge lt-white" ng-bind-html="'Media Kit'"></div>
	</div>
</div>
<div class="margin-content">
	<div class="page-section mediakit-section">
		<div class="line-title lt-normal lt-blue show-mobile" ng-bind-html="'Media Kit'"></div>
		<div class="row page-content">
			<div class="col-sm-8 main-content">
				<div class="row">
					<div class="col-sm-6">
						<img src="/localdata/img/mediakit.png" class="full-img">
					</div>
					<div class="col-sm-6">
						<div class="mediakit-list show-desktop">
							Download Pankaj Ghemawat’s Media Kit:
							<ul>
								<li>- Photos (Hi-Res & Low-Res)</li>
								<li>- Full Biography</li>
								<li>- World 3.0 Cover Image</li>
								<li>- Advance praise for World 3.0</li>
							</ul>
							<a href="{{zipFile}}" target="_blank" class="cta cta-huge cta-light-blue">DOWNLOAD MEDIA KIT</a>
						</div>	
					</div>
				</div>
			</div>
			<div class="col-sm-4 side-content show-desktop">
				<div class="side-menu">
					<div class="title" ng-bind-html="entityLabels[entity].group"></div>
					<div class="side-menu-item" ng-repeat="e in groupItems()">
						<a ui-sref="{{e.state}}" class="item" ng-class="{'active':entityLabels[entity].name == e.name}" ng-bind-html=e.name></a>	
						<a ui-sref="{{so.state}}" class="subitem" ng-class="{''active':isSubitemActive(so.id)}" ng-repeat="so in e.suboptions" ng-bind-html="($index+1) +'. '+so.name"></a>	
					</div>
				</div>
			</div>
			<div class="col-xs-12 show-mobile">
				<div class="download-title">Send Pankaj Ghemawat’s complete Media Kit via email (.zip):</div>
				<input id="file-email" type="" name="" placeholder="Email Address">
				<div class="button-container">
					<a class="cta cta-light-blue" ng-click="sendFiles()">SEND</a>
				</div>
				<div class="or">
					<hr>
					<span class="text">or</span>
				</div>
				<div class="download-title">Select which individual file you’d like to download:</div>
				<div class="mediakit-resources row">
					<div class="resource col-xs-4" ng-class="{'selected': r.url==resourceSelected}" ng-repeat="r in resources" ng-click="selectResource(r.url)">
						<div class="title">{{r.label}}</div>
						<img class="image-container" src="{{r.file}}" />
					</div>
				</div>
				<div class="button-container">
					<a href="#" class="cta cta-light-blue" ng-click="downloadResource()">Download</a>
				</div>
			</div>
		</div>
	</div>
</div>