cage-select-distance-varibles{
		&.standard{
			ul{
				margin: 0; padding: 0;
				li{
					color: #000000;
					span:first-child{
						display:block;
						background-color: $light-gray;
						color: #000000;
						border-bottom: 1px solid #E2E4E3;
						padding: 0 0.6em;
						@include transition(all 0.2s ease-in-out);
						i{float: right;}
						&.subsection{
							background-color: white;
							border: 0px !important;
							color: #000000 !important;
							i{float: left; margin-right: 10px;}
						}
					}
					&:first-child{
						span:first-child{
							&:first-child{border-top: 1px solid #E2E4E3;}
							}
						}

					&.active{
						span:first-child{
							color: $cage-blue-text;							
						}
					}
					ul{

    					&.subsection{
							margin-left: 6%;
    						border-left: 1px solid #C9CBCA;    						
    					}
						li{//radio container
							padding: 0 0.6em;
							&:first-child{padding-top: 5%;}
							&:last-child{padding-bottom: 5%;}
							label {
								@include radio();
							}
							ul{
								li{
									padding: 2% 5%;
									&:first-child{padding-top: 0%;}
									&:last-child{padding-bottom: 0%;}
									label{
										@include checkbox();
										span.custom-checkbox:before{
										    top: 50%;
    										@include transform(translateY(-50%));											
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}