<ul>
	<li ng-repeat="(sectionKey, section) in variables" ng-class="{'active' : dropDownCollapsed[sectionKey]}">
		<span ng-click="dropDownCollapsed[sectionKey] = !dropDownCollapsed[sectionKey];">
			{{sectionKey}}
			<i class="fa" ng-class="(dropDownCollapsed[sectionKey]) ? 'fa-angle-up' : 'fa-angle-down'" aria-hidden="true"></i>
		</span>
		<ul uib-collapse="!dropDownCollapsed[sectionKey]">
			<li ng-repeat="(subsectionKey, subsection) in section" >
				<span class="subsection" ng-click="subSectionCollapsed[subsectionKey] = !subSectionCollapsed[subsectionKey];">
					<i class="fa" ng-class="(!subSectionCollapsed[subsectionKey]) ? 'fa-caret-right' : 'fa-sort-desc'" aria-hidden="true"></i>
					{{subsectionKey}}
				</span>
				<ul class="subsection" uib-collapse="!subSectionCollapsed[subsectionKey]">
					<li ng-repeat="item in subsection" >
						<label>
							<input  type="checkbox" name="{{item.name}}" ng-model="item.default" ng-click="onCheck(item)">
							<span class="custom-checkbox">{{item.name}}</span>
						</label>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
