<div class="crucial" ng-if="root.actualUser.other.id > 0">
	<label for="actual-pass">Actual Password</label><br>
	<input class="form-control" type="password" name="actual-pass" id="actual-pass" ng-model="actualPass"><br>

	<label for="new-pass">New Password</label><br>
	<input class="form-control" type="password" name="new-pass" id="new-pass" ng-model="newPass"><br>

	<label for="repeat-new-pass">Reapeat New Password</label><br>
	<input class="form-control" type="password" name="repeat-new-pass" id="repeat-new-pass" ng-model="newPassRepeated"><br>

	<button type="button" class="btn btn-default" ng-click="saveNewPassword(actualPass, newPass, newPassRepeated)">Change Password</button>
</div>