<div class="data-viz-desktop">
	<!--Shape-->
	<div class="background-shape"  ng-class="{'active' : popUpDesktopController()}" ng-click="viewController.closePopUp()"></div>
	<!--POPUP-->
	<div class="view-popup row" ng-if="popUpDesktopController();" ng-class="viewController.popUpSize">
		<!-- POPUP USER LOGIN/LOGOUT -->
		<div ng-if="viewController.popUpState == 'userLog'">
			<div class="close-cross" ng-click="viewController.closePopUp()"></div>
			<!-- POPUP USER NOT LOG -->
			<div ng-if="!root.actualUser.logged">
				<user-login class="content margin-bottom" callback="userLoginCallback"></user-login>
				<div class="register content margin-all">
					<div class="content margin-top">Not yet registered? Register now for free</div>				
					<a href="#" class="cta cta-dark-blue" ng-click="viewController.popUpController(true, 'userRegister');">SIGN UP FOR FREE ACCOUNT</a>
					<div class="content margin-top">Discover the benefits of becoming a paid subscriber</div>
					<a href="#" class="cta cta-dark-blue" ng-click="viewController.popUpController(true, 'userRegisterPremium');">VIEW SUBSCRIPTION DETAILS</a>
				</div>
			</div>
			<!-- POPUP USER LOGGED -->
			<div ng-if="root.actualUser.logged" class="content margin-all text-align-center">
				<a class="custom-link-extender content margin-v" href="#" ng-click="viewController.popUpController(true, 'userSettings');">View Account Settings</a><br>
				<user-logout on-logout="userLogoutCallback" class="content margin-v"></user-logout>
			</div>
		</div>
		<!-- POPUP USER REGISTER -->
		<div ng-if="viewController.popUpState == 'userRegister' || viewController.popUpState == 'userRegisterPremium' || viewController.popUpState == 'userUpgradePremium'">
			<div class="close-cross" ng-click="viewController.goBack();"></div>
			<!--<button class="btn btn-primary" ng-click="viewController.goBack();">BACK</button>-->
			<user-register terms="viewTerms" callback="userLoginCallback" type="viewController.popUpState" view-controller="viewController"></user-register>
		</div>
		<!-- POPUP USER REGISTER TERMS -->
		<div ng-if="viewController.popUpState == 'userRegisterTerms'">
		<div class="close-cross" ng-click="viewController.goBack();"></div>
		<div class="content padding-all"><terms></terms></div>	
		</div>
		<!-- POP USER SETTINGS -->
		<div ng-if="viewController.popUpState == 'userSettings'" class="user-settings">
			<div class="close-cross" ng-click="viewController.closePopUp()"></div>
			<!-- POP USER SETTINGS subs & pass -->
			<div class="column-settings first-column">
				<h3 class="color-blue margin-all">Account Settings</h3>
				<div class="content margin-h subscription-type">
					<user-sub-type view-controller="viewController"></user-sub-type> 				
				</div>
				<h3 class="color-blue margin-all">Access Details</h3>
				<div class="content margin-h">
					<div>Username: {{root.actualUser.name}}</div>
					<div class="content margin-bottom">Email: {{root.actualUser.email}}</div>
					<user-change-pass></user-change-pass>
				</div>
			</div>
			<div class="column-settings second-column">
				<h3 class="color-blue margin-all">Profile Information</h3>
				<div class="content margin-h">
					<user-information></user-information>				
				</div>				
			</div>
		</div>
	</div>




	<!-- LAYOUT menu lateral + map -->
	<div class="layout row">
		<!-- USER MENU 
		<div class="user-header-menu content margin-all">
			<a href="#" ng-click="viewController.popUpController(true, 'userLog', '', 'sm');"><i class="fa fa-user" aria-hidden="true"></i></a>
			<a href="#" ng-click="viewController.popUpController(true, 'userLog', '', 'sm');"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>	
		</div>-->
		<user-header class="user-header-menu content margin-all" color="#282A39" stroke-width="1"></user-header>

		<!-- LATERAL SETTINGS MENU -->
		<div class="settings-menu content margin-all">
			<!-- NAV MENU -->
			<!-- <div class="nav-menu">
				<a ui-sref="dataViz.areaMap" class="cta" 
					ng-class="(viewController.state == 'dataViz.areaMap') ? 'cta-darkest-blue' : 'cta-light-gray'">AREA MAP</a>
				<a ui-sref="dataViz.flowMap" class="cta" 
					ng-class="(viewController.state == 'dataViz.flowMap') ? 'cta-darkest-blue' : 'cta-light-gray'">FLOW MAP</a>
				<a ui-sref="dataViz.sankey" class="cta" 
					ng-class="(viewController.state == 'dataViz.sankey') ? 'cta-darkest-blue' : 'cta-light-gray'">SANKEY</a>
				<a ui-sref="dataViz.scatterplot" class="cta" 
					ng-class="(viewController.state == 'dataViz.scatterplot') ? 'cta-darkest-blue' : 'cta-light-gray'">SCATTERPLOT</a>
				<a ui-sref="dataViz.treemap" class="cta" 
					ng-class="(viewController.state == 'dataViz.treemap') ? 'cta-darkest-blue' : 'cta-light-gray'">TREEMAP</a>
				<a ui-sref="dataViz.barChart" class="cta" 
					ng-class="(viewController.state == 'dataViz.barChart') ? 'cta-darkest-blue' : 'cta-light-gray'">BAR CHART</a>
			</div> -->
			<!-- OPTION SECTION -->
			<div class="option-section">
				<!-- size -->
				<div class="size-section">
					<h3 class="margin-no-bottom color-blue">Size Selections
						<span class="caption float-right" ng-click="viewController.reset(); viewController.popUpController(false, 'settings', 'general-size');">EDIT</span>
					</h3>
				    <div class="content no-padding margin-h">
			        	<a ng-if="selectedAreaMapGR.size == 'scale'" href="#" class="indicators custom-link-extender" ng-click="viewController.reset(); viewController.popUpController(false, 'settings', 'indicators');">
			    			<span ng-repeat="indicator in selectedIndicators.items">{{indicator.name}}</span>
			        	</a>
				    	<a href="#" ng-show="hasFocalCountry" class="country custom-link-extender" ng-click="viewController.reset(); viewController.popUpController(false, 'settings', 'country');">
				    		<span ng-repeat="country in selectedCountry.items">{{country}} <span ng-if="!$last">, </span></span></a>
				    	<!-- <a ng-if="selectedAreaMapGR.size == 'no-scale'" href="#" class="country custom-link-extender" ng-click="viewController.reset(); viewController.popUpController(false, 'settings', 'country-check');">
				    		<span ng-repeat="country in selectedCountry.items">{{country}}<span ng-if="!$last">, </span></span></a> -->

		    	    	<a ng-if="selectedAreaMapGR.size == 'no-scale'" href="#" class="indicators custom-link-extender" ng-click="viewController.reset(); viewController.popUpController(false, 'settings', 'indicators-check');">
		    				<span ng-repeat="indicator in selectedIndicators.items">{{indicator.name}}<span ng-if="!$last">, </span></span>
		    	    	</a>

				    	<a href="#" class="years custom-link-extender" ng-click="viewController.reset(); viewController.popUpController(false, 'settings', 'years');">{{selectedYears.end}}</a>
				    	<p ng-show="selectedAreaMapGR.size == 'no-scale'">No size distortion</p>
				    	<p ng-show="selectedAreaMapGR.size == 'scale'">Scale countries to indicator values</p>
				    	<!-- <p>Scale Focal Country/Countries to {{selectedAreaMapScale.percent}}% of Map Area (0-100%)</p>  	 -->
				    </div>					
				</div>
				<hr>
				<!-- color -->
				<div class="color-section">
					<h3 class="margin-no-bottom color-blue">Color Selections
						<span class="caption float-right" ng-click="viewController.reset(); viewController.popUpController(false, 'settings', 'general-color');">EDIT</span>
					</h3>	
					<div class="content no-padding margin-h">
						<p ng-show="selectedAreaMapGR.color == 'no-color'">No color scale</p>
						<p ng-show="selectedAreaMapGR.color == 'share'">Color by Share of Partner in Opposite Direction</p>
						<p ng-show="selectedAreaMapGR.color == 'classification'">Color by Classification: {{selectedAreaMapCBC.name}}</p>
						<p ng-show="selectedAreaMapGR.color == 'another'">Select Another Indicator for Coloring</p> 
						<p ng-show="selectedAreaMapGR.color == 'another'">
							<span ng-repeat="country in selectedAreaMapAC.country.items">{{country}}<span ng-if="!$last">, </span></span>
							<br>
							<span ng-repeat="indicator in selectedAreaMapAC.indicators.items">{{indicator.parent}} {{indicator.name}}<span ng-if="!$last">, </span></span>
							<br>
							<span class="content">{{selectedAreaMapAC.years.start}} </span>
							<span> to </span>
							<span class="content"> {{selectedAreaMapAC.years.end}}</span>
						</p> 
					</div>				
				</div>
				<hr>
				<!-- marker -->
				<!-- <div class="marker-section"> -->
					<!-- <h3 class="margin-no-bottom color-blue">Marker Selections -->
						<!-- <span class="caption float-right" ng-click="viewController.reset(); viewController.popUpController(false, 'settings', 'general-marker');">EDIT</span> -->
					<!-- </h3> -->
					<!-- <div class="content no-padding margin-h"> -->
						<!-- <p ng-show="selectedAreaMapGR.marker == 'no-markers'">No markers</p> -->
						<!-- <p ng-show="selectedAreaMapGR.marker == 'flags'">Flags</p> -->
						<!-- <p ng-show="selectedAreaMapGR.marker == 'bubbles'">Bubbles Proportional to an Indicator</p>  -->
					<!-- </div>					 -->
				<!-- </div> -->
				<hr>
				<label class="custom-input content margin-h padding-xs-top fw-normal">
					<input  type="checkbox" name="comparisonTooltips" value="comparisonTooltips" ng-model="comparisonTooltips.state">
					<span class="custom-checkbox">Country Comparison Tooltips</span>		
				</label>
				<div class="content padding-all settings text-align-center row no-margin">
					<svg class="content float-left cursor-pointer" width="35px" height="35px" ng-click="viewController.popUpController(true, 'settings', 'general');">
						<circle fill="none" stroke="#222637" stroke-miterlimit="10" cx="16.889" cy="16.889" r="16.389"/>
						<path fill="none" stroke="#222637" stroke-miterlimit="10" d="M24.934,16.764c-0.002-1.133,0.684-2.104,1.66-2.523    c-0.236-0.883-0.59-1.717-1.045-2.486c-1,0.424-2.201,0.23-3.016-0.584c-0.814-0.811-1.008-2.004-0.592-3.004    c-0.771-0.449-1.609-0.797-2.496-1.031c-0.393,1.037-1.389,1.779-2.564,1.779c-1.176,0-2.171-0.742-2.564-1.779    c-0.891,0.234-1.732,0.586-2.509,1.039c0.497,1.025,0.33,2.289-0.52,3.139c-0.847,0.848-2.104,1.016-3.127,0.527    c-0.451,0.781-0.797,1.629-1.025,2.523c1.098,0.361,1.895,1.383,1.895,2.602c0.001,1.202-0.773,2.211-1.848,2.584    c0.246,0.891,0.611,1.73,1.078,2.504c1.029-0.516,2.31-0.354,3.168,0.504c0.84,0.838,1.014,2.082,0.542,3.098    c0.785,0.439,1.635,0.77,2.531,0.988c0.381-1.063,1.387-1.826,2.578-1.826c1.16-0.002,2.146,0.715,2.551,1.729    c0.881-0.25,1.711-0.617,2.477-1.082c-0.441-1.008-0.256-2.225,0.566-3.047c0.805-0.807,1.982-1.008,2.975-0.607    c0.439-0.775,0.771-1.615,0.994-2.504C25.641,18.897,24.934,17.913,24.934,16.764z"/>
						<circle fill="none" stroke="#222637" stroke-miterlimit="10" cx="16.881" cy="16.832" r="2.617"/>
					</svg>
					<!-- <svg class="content float-right cursor-pointer" width="35px" height="35px">
						<circle fill="none" stroke="#222637" stroke-miterlimit="10" cx="16.889" cy="16.889" r="16.389"/>
						<polygon fill="none" stroke="#222637" stroke-miterlimit="10" points="12.324,9.426 25.152,16.832 12.324,24.239  "/>
					</svg> -->
					<!--<i class="fa fa-cog" aria-hidden="true" ng-click="viewController.popUpController(true, 'settings', 'general');"></i>
					<i class="fa fa-play-circle-o" aria-hidden="true"></i>-->
				</div>
			</div>
			
			<!-- SETTINGS -->
			<div ng-if="viewController.popUpState == 'settings'">
				<nyu-area-map  ng-if="viewController.state == 'dataViz.areaMap'" view-controller="viewController"></nyu-area-map>
				<nyu-flow-map ng-if="viewController.state == 'dataViz.flowMap'" view-controller="viewController"></nyu-flow-map>
				<nyu-sankey ng-if="viewController.state == 'dataViz.sankey'" view-controller="viewController"></nyu-sankey>
				<nyu-scatterplot ng-if="viewController.state == 'dataViz.scatterplot'" view-controller="viewController"></nyu-scatterplot>
				<nyu-treemap ng-if="viewController.state == 'dataViz.treemap'" view-controller="viewController"></nyu-treemap>
				<nyu-bar-chart ng-if="viewController.state == 'dataViz.barChart'" view-controller="viewController"></nyu-bar-chart>			
			</div>
		</div>
		<!-- MAP SECTION -->
		<div class="map-section content margin-top">
			<nyu-cartogram 
				country              = "selectedCountry.items" 
				indicator            = "selectedIndicators.items" 
				year                 = "selectedYears" 
				distortion           = "selectedAreaMapGR.size" 
				color                = "selectedAreaMapGR.color"
				color-clasification  = "selectedAreaMapCBC.id"
				another-indicator    = "selectedAreaMapAC"
				color-options		 = "selectedAreaMapOCV"
				country-comp-tooltip = "comparisonTooltips.state"
				has-focal-country	 = "hasFocalCountry"
			></nyu-cartogram>
		</div>
	</div>
</div>