<form class="content padding-no-top">
	<h3 class="color-blue no-margin margin-v">Login</h3>
	<label for="username">Username:</label>
	<input class="form-control custom-input" type="text" name="username" id="username" ng-model="inputname"><br>
	<label for="userpass">Password:</label>
	<input class="form-control custom-input" type="password" name="userpass" id="userpass" ng-model="inputpass"><br>
	<a href="#" class="cta-forgot" ng-click="showForgot = !showForgot">Forgot your password?</a>
	<div ng-if="showForgot">
		<label for="userreset">Email to send new password:</label>
		<input class="form-control custom-input" type="text" name="userreset" id="userreset" ng-model="inputreset"><br>
		<a class="cta cta-darkest-blue" type="button" ng-click="resetPassword(inputreset)">Reset Password</a>
	</div>
	<a ng-if="!showForgot" type="button" class="cta cta-darkest-blue" ng-click="logIn(inputname, inputpass)">LOGIN</a>
</form>