<form>
	<h3>Login</h3>
	<label for="username">Username:</label>
	<input class="form-control" type="text" name="username" id="username" ng-model="inputname"><br>
	<label for="userpass">Password:</label>
	<input class="form-control" type="password" name="userpass" id="userpass" ng-model="inputpass"><br>
	<button type="button" class="btn btn-default" ng-click="logIn(inputname, inputpass)">Log In</button><br>
	<a href="#" ng-click="showForgot = !showForgot">Forgot your password?</a>
	<div ng-if="showForgot">
		<label for="userreset">Email to send new password:</label>
		<input class="form-control" type="text" name="userreset" id="userreset" ng-model="inputreset"><br>
		<button type="button" class="btn btn-default" ng-click="resetPassword(inputreset)">Reset Password</button>
	</div>
</form>