nyu-cage, nyu-maps, .data-viz-view, nyu-cage-comparator, nyu-cage-gravity-modeler{
	
	.margin-controller{
		&.margin-all{margin: $margin-size $margin-size;}
	    &.margin-h{margin: 0px $margin-size;}
	    &.margin-v{margin: $margin-size 0px;}
	    &.margin-no-bottom{margin: $margin-size $margin-size 0px $margin-size;}
	    &.margin-no-top{margin: 0px $margin-size $margin-size $margin-size;}
	    &.margin-top{margin-top:$margin-size;}
	   	&.margin-bottom{margin-bottom:$margin-size;}
	   	&.margin-left{margin-left:$margin-size;}
	    &.margin-right{margin-right: $margin-size;}

    	&.padding-all{padding: $margin-size $margin-size;}
        &.padding-h{padding: 0px $margin-size;}
        &.padding-v{padding: $margin-size 0px;}
        &.padding-no-bottom{padding: $margin-size $margin-size 0px $margin-size;}
        &.padding-no-top{padding: 0px $margin-size $margin-size $margin-size;}
        &.padding-top{padding-top:$margin-size;}
       	&.padding-bottom{padding-bottom:$margin-size;}
       	&.padding-left{padding-left:$margin-size;}
        &.padding-right{padding-right: $margin-size;}

		&.margin-sm-all{margin: $margin-size-sm $margin-size-sm;}
	    &.margin-sm-h{margin: 0px $margin-size-sm;}
	    &.margin-sm-v{margin: $margin-size-sm 0px;}
	    &.margin-sm-no-bottom{margin: $margin-size-sm $margin-size-sm 0px $margin-size-sm;}
	    &.margin-sm-no-top{margin: 0px $margin-size-sm $margin-size-sm $margin-size-sm;}
	    &.margin-sm-top{margin-top:$margin-size-sm;}
	   	&.margin-sm-bottom{margin-bottom:$margin-size-sm;}
	   	&.margin-sm-left{margin-left:$margin-size-sm;}
	    &.margin-sm-right{margin-right: $margin-size-sm;}

    	&.padding-sm-all{padding: $margin-size-sm $margin-size-sm;}
        &.padding-sm-h{padding: 0px $margin-size-sm;}
        &.padding-sm-v{padding: $margin-size-sm 0px;}
        &.padding-sm-no-bottom{padding: $margin-size-sm $margin-size-sm 0px $margin-size-sm;}
        &.padding-sm-no-top{padding: 0px $margin-size-sm $margin-size-sm $margin-size-sm;}
        &.padding-sm-top{padding-top:$margin-size-sm;}
       	&.padding-sm-bottom{padding-bottom:$margin-size-sm;}
       	&.padding-sm-left{padding-left:$margin-size-sm;}
        &.padding-sm-right{padding-right: $margin-size-sm;}

		&.margin-xs-all{margin: $margin-size-xs $margin-size-xs;}
	    &.margin-xs-h{margin: 0px $margin-size-xs;}
	    &.margin-xs-v{margin: $margin-size-xs 0px;}
	    &.margin-xs-no-bottom{margin: $margin-size-xs $margin-size-xs 0px $margin-size-xs;}
	    &.margin-xs-no-top{margin: 0px $margin-size-xs $margin-size-xs $margin-size-xs;}
	    &.margin-xs-top{margin-top:$margin-size-xs;}
	   	&.margin-xs-bottom{margin-bottom:$margin-size-xs;}
	   	&.margin-xs-left{margin-left:$margin-size-xs;}
	    &.margin-xs-right{margin-right: $margin-size-xs;}

    	&.padding-xs-all{padding: $margin-size-xs $margin-size-xs;}
        &.padding-xs-h{padding: 0px $margin-size-xs;}
        &.padding-xs-v{padding: $margin-size-xs 0px;}
        &.padding-xs-no-bottom{padding: $margin-size-xs $margin-size-xs 0px $margin-size-xs;}
        &.padding-xs-no-top{padding: 0px $margin-size-xs $margin-size-xs $margin-size-xs;}
        &.padding-xs-top{padding-top:$margin-size-xs;}
       	&.padding-xs-bottom{padding-bottom:$margin-size-xs;}
       	&.padding-xs-left{padding-left:$margin-size-xs;}
        &.padding-xs-right{padding-right: $margin-size-xs;}
	}

	h1, h2, h3, .caption, .content, .block{
		font-family: 'Roboto', sans-serif;
		@extend .margin-controller;
	}

	input.custom-input{
		border-radius: 0;
		border: 1px solid #626362;
	}

	h1{
		font-size: 24px;
	}
	h2{
		font-size: 20px;
	}
	h3{
		font-size: 16px;
	}
	.content{
		font-size : 14px;
	}
	.caption{
		font-size : 10px;
	}
	.block{
		display:block;
	}

	.color-white{color: #FFFFFF;}
	.color-blue{color: $cage-blue-text;}
	.color-pankaj-gray{color: $pankaj-gray;}

	.no-padding{padding: 0px 0px 0px 0px;}
	.no-margin{margin: 0px 0px 0px 0px;}
	
	.text-align-right{text-align: right;}
	.text-align-center{text-align: center;}

	.float-left{float: left;}
	.float-right{float: right;}
	
	.width-100{width: 100%;}

	.cursor-pointer{cursor: pointer;}
	
	.fw-normal{font-weight: normal;}
	label.custom-input{
		@include radio();
		@include checkbox();
	}

	.un-activated-form{
		opacity: 0.2;
		pointer-events: none;
	}
	dd-radio-item, dd-item{
		&.standard{
			ul{
				cursor: pointer;
				margin: 0; padding: 0;
				li{
					list-style: none;
					color: #000000;
					span:first-child{
						display:block;
						background-color: $light-gray;
						color: #000000;
						border-bottom: 1px solid #E2E4E3;
						padding: 0.6em;
						@include transition(all 0.2s ease-in-out);
						i{float: right;}
					}
					&:first-child{
						span:first-child{
							&:first-child{border-top: 1px solid #E2E4E3;}
							}
						}

					&.active{
						span:first-child{
							color: $cage-blue-text;							
						}
					}
					ul{
						li{//radio container
							list-style: none;
							padding: 0.4em 0.6em;
							&:first-child{padding-top: 0.6em;}
							&:last-child{padding-bottom: 0.6em;}
							label {
								@include radio();@include checkbox();
							}
							ul{
								li{
									padding: 0 1.8em;
									&:first-child{padding-top: 0%;}
									&:last-child{padding-bottom: 0%;}
									label{
										@include checkbox();
									}
								}
							}
						}
					}
				}
			}
		}
	}

}