
.generic_fade.ng-hide-add.ng-hide-add-active{
  opacity:0;
  display:block !important;
}

.generic_fade.ng-hide-add.ng-hide-add-active,
.generic_fade.ng-hide-remove.ng-hide-remove-active {
  position:absolute;
  @include transition(all linear 0.5s);
  
}

.generic_fade.ng-hide {
  opacity:0;
}




