$primary-color: #505050;
$primary-font: sans-serif;

$break-mobile: 767px;
$break-laptop: 992px;
$break-desktop: 1199px;

$cage-footer-color: #858786;


$light-blue : #003162;
$pankaj-blue : #0080FF;
$less-dark-blue : #004182;
$dark-blue : #002141;
$darkest-blue : #282A39;

$light-gray : #F0F1F1;
$pankaj-gray : #5D5D5D;
$dark-gray : #4C4D4D;

/*CAGE*/
$cage-blue-text: #5393FB;

$emerald-green: #64A7A1;
$apple-green: #AFD3AA;
$container-blue : #6298D5;
$container-gray : #757C89;

$margin-size : 25px;
$margin-size-sm : 20px;
$margin-size-xs: 10px;