@import 'vars';
@import 'mixins';
@import 'generic_fade';
@import '../components/header/header';
@import '../components/footer/footer';
@import '../components/home/home';
@import '../components/about/about';
@import '../components/list/list';
@import '../components/list-columns/list-columns';
@import '../components/list-item/list-item';
@import '../components/list-item-2/list-item-2';
@import '../components/mediakit/mediakit';
@import '../components/globecourse/globecourse';
@import '../components/surveys/surveys';
@import '../components/filter/filter';
@import '../components/request-popup/request-popup';
@import '../components/item/item';
@import '../components/social-share/social-share';
@import '../components/search/search';
body {
	margin:0;
	padding:0;
	@include opacity(1); 
	font-family: 'Roboto', sans-serif;
}

a{
	&:hover,&:focus,&:visited,&:active{
		text-decoration: none;
		outline:none;				
	}
}

input {
	outline: none;
}

.margin-content {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 80px;

	@media only screen and (max-width: $break-desktop) {
		padding: 0 50px;
		overflow: hidden;
	}

	@media only screen and (max-width: $break-mobile) {
		padding: 0 25px;
		overflow: hidden;
	}
}

.line-title{
	display: block;
	position: relative;
	font-family: 'Merriweather', serif;
	border-style: solid;
	border-left: none;
	border-right: none;
	border-bottom: none;
	text-align: left;
	
	&.lt-normal{
		margin-bottom: 20px;
		padding-top: 5px;
		border-width: 0.5px;
		font-size: 2.4rem;
		font-weight: 400;
	}

	&.lt-return-books{
		padding-top: 5px;
    	margin-bottom: 40px;
		font-size: 2.6rem;
		font-weight: 400;
		border-width: 1px;
	}

	&.lt-return{
		padding: 20px 0 50px 40px;
		border-width: 0.5px;

		a{
			font-family: 'Roboto', sans-serif;
			font-size:1.3rem;
			font-weight:700;
			text-transform:uppercase;
			color:#2E80FF;
			@include transition(all 0.4s);

			&:after{
				content: "";
				position: absolute;
				left: 0;
	    		top: 13px;
				width: 30px;
				height: 30px;
				box-shadow: inset 0px 0px 0.5px 1px #2D2E2D;
				border-radius: 100%;
				@include transition(all 0.4s);

			}
			&:before{
				content: "";
				position: absolute;
				top: 24px;
	    		left: 13px;
	    		width: 8px;
	    		height: 8px;
				border-bottom: 1px solid #606362;
				border-left: 1px solid #606362;
				z-index:2;
				@include transform(rotate(45deg));
				@include transition(all 0.4s);
			}

			&:hover{
				
				&:after{
					background-color:#606362;
				}
				&:before{
					border-bottom: 1px solid #FFFFFF;
					border-left: 1px solid #FFFFFF;
				}
			}
		}
	}

	&.lt-big{
		border-width: 1.6px;
	}

	&.lt-huge{
		font-size: 5.8rem;
		line-height: 5.8rem;
    	padding-top: 15px;
	}

	&.lt-white {
		border-color: #FFFFFF;
		color: #FFFFFF;

		.buttons {
			.arrow {
				color: #FFFFFF;
				border-color:#FFFFFF;
				background-color: #004182;
				box-shadow: inset 0px 0px 0.5px 1px #FFF;
				@include transition(all 0.4s);

				&:after{
					border-color:#FFFFFF;
				}

				&:hover{
					background-color:#FFFFFF;
					color: #004182;
					border-color:#004182;

					&:after{
						border-color:#004182;
					}
				}
			}
			.pages {
				color: #FFFFFF;
			}
		}
	}

	&.lt-gray {
		border-color: #606362;
		color: #2D2E2D;

		.buttons {
			.arrow {
				color: #2D2E2D;
				border-color:#2D2E2D;
				background-color:#FFFFFF;
				@include transition(all 0.4s);

				&:after{
					border-color:#2D2E2D;
				}

				&:hover:active{
					background-color:#2D2E2D;
					color: #FFFFFF;
					border-color:#FFFFFF;

					&:after{
						border-color:#FFFFFF;
					}
				}

				@media only screen and (min-width: $break-mobile){
					&:hover{
						background-color:#2D2E2D;
						color: #FFFFFF;
						border-color:#FFFFFF;

						&:after{
							border-color:#FFFFFF;
						}
					}					
				}
			}
			.pages {
				color: #2D2E2D;
			}
		}
		
	}

	&.lt-blue {
		border-color: #606362;
		color: #0983FD;
	}

	.buttons {
		position:absolute;
		top:6px;
		right:0;

		.arrow {
			display: inline-block;
			position: relative;
			width: 32px;
			height: 32px;
			@include border-radius(100%);
			/*border-width: 1px;
			border-style: solid;*/

			box-shadow: inset 0px 0px 0.5px 1px #2D2E2D;
			vertical-align: top;
			cursor:pointer;

			&:after{
				content: "";
				position:absolute;
				top:50%;
				left:50%;
				height: 9px;
				width: 9px;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-left-width: 1px;
				border-left-style: solid;
				margin-top: -5px;
				

			}

			&.left{
				&:after{
					margin-left: -3px;
					@include transform(rotate(45deg));
				}
			}
			&.right {
				&:after{
					margin-left: -6px;
					@include transform(rotate(-135deg));
				}
			}
		}
		

		.pages {
			display: inline-block;
			vertical-align: top;
			margin: 7px 5px;
			font-family: 'Roboto', sans-serif;
			font-size: 1.3rem;
			font-weight: 700;
			letter-spacing: 0.1rem;
		}

		
	}

	@media only screen and (max-width: $break-mobile) {
		&.lt-normal{
			font-size: 2rem;
		}

		&.lt-gray {
			border-color: #616362;
			color: #313231;

			.buttons {
				.arrow {
					color: #313231;
					border-color:#313231;

					&:after{
						border-color:#313231;
					}
				}
				.pages {
					color: #A6A8A7;
				}
			}
			
		}

		.buttons {
			.arrow {
				width: 25px;
				height: 25px;

				&:after{
					height: 7px;
					width: 7px;
					margin-top: -4px;
				}

				&.left{
					&:after{
						margin-left: -2px;
					}
				}
				&.right {
					&:after{
						margin-left: -5px;
					}
				}
			}
			.pages{
				margin: 6px 2px;
				font-size: 1rem;
			}
		}
	}
}

.line-bottom-title{
	display:block;
	color:#174380;
	border-bottom: 1px solid #616362;
	font-family: 'Merriweather', serif;
	font-size: 2rem;
}

.cta {
	display:inline-block;
	padding: 10px 20px;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	font-weight: 400;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	cursor: pointer;
	@include transition(all 0.4s);

	&:hover:active {
		text-decoration: none;
		
		&.cta-light-blue{
			background-color: #003162;
		}
		&.cta-dark-blue{
			background-color: #002141;
		}
		&.cta-blue-o{
			background-color: #0080FF;
			color:#FFFFFF;
		}
	}
	@media only screen and (min-width: $break-mobile){
		&:hover {
			text-decoration: none;
			
			&.cta-light-blue{
				background-color: #003162;
			}
			&.cta-dark-blue{
				background-color: #002141;
			}
			&.cta-blue-o{
				background-color: #0080FF;
				color:#FFFFFF;
			}
		}
	}
	&.cta-light-blue{
		background-color: #0080FF;
		color: #FFFFFF;
	}

	&.cta-dark-blue{
		background-color: #004182;
		color: #FFFFFF;
	}

	&.cta-blue-o{
		color:#0080FF;
		border: 1px solid #0080FF;
	}

	&.cta-block{
		display: block;
	}

	&.cta-huge{
		padding: 20px 30px;
	}

	@media only screen and (max-width: $break-mobile) {
		padding: 11px 13px;
	    font-size: 1rem;
	    line-height: 1rem;

	    &.cta-blue-o{
	    	font-size: 1.2rem;
    		line-height: 1.2rem;
	    }
	}
}

.mobile-social{
	margin: 25px 0;
	text-align:left;
	white-space: nowrap;

	.btn-caption {		
	    display: inline-block;
	    vertical-align: top;
	    margin-top: 8px;	
		font-size: 1.3rem;
		letter-spacing: 0.2em;
		font-weight: 700;
		color:#2E80FF;
	}

	.btn-icon {
		width: 35px;
	    height: 35px;
	    margin-left: 8px;
	    line-height: 34px;
	    display: inline-block;
	    text-align: center;
	    @include border-radius(100%);
	    
	    @media only screen and (max-width: $break-laptop) {
			margin-left: 6px;
	    }
	}

	&.btns-gray{
		.btn-icon {
		    background-color: #d9d9d9;
		    border:1px solid #d9d9d9;
		}
		.fa{
			color: #FFFFFF;
		}
	}

	&.btns-white{
		.btn-icon {
		    background-color: #FFFFFF;
		    border:1px solid #FFFFFF;
		}
		.fa{
			color: #313231;
		}
	}

	@media only screen and (max-width: $break-mobile) {
		.btn-icon {
			width: 27px;
		    height: 27px;
		    line-height: 26px;
		}

		.btn-caption {		
		    margin-top: 6px;	
			font-size: 1rem;
			letter-spacing: 0.2em;
		}
	}
}

.page-section {
    position: relative;
    padding-top: 70px;

    .page-content{
		.main-content{
			padding-right: 40px;
		}
		.side-content{
			padding-left: 35px;
		}
	}

	.page-text{
		margin-top: 50px;
		font-weight: 300;
		font-size: 1.7rem;
	}

	&.books-section{
		.page-content{
			margin-top: 35px;
		}
		.side-menu{
			margin-top: -58px;
		}
	}

	.line-title{
		&.lt-normal{
			margin-top: 10px;
		}
	}

	@media only screen and (max-width: $break-desktop) {
		padding-top: 83px;
	}

	@media only screen and (max-width: $break-mobile) {
		&.books-section{
			.page-content{
				margin-top: 0px;
			}
		}

		.line-title{
			&.lt-normal{
				margin-bottom: 25px;
				padding-right: 30%;

			}
		}

		.page-content{
			.main-content{
				padding-right: 15px;
			}
			.side-content{
				padding-left: 15px;
			}
		}
	}
}




.full-img{
	display:block;
	width:100%;
}

.float-img{
	float:left;
	width: auto;
}



/*SEARCH*/
span.highlight-class{
	background-color: #6BB5FE;
}
.load-more-button{
	background-color: #0080FF;
	color: #FFFFFF;
	margin: 50px auto;
	display: block;
	width: 200px;
    padding: 20px 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    cursor: pointer;
	@include transition(all 0.4s);
    &:hover:active{
    	background-color: #003162;
    	color: white;
    }
    @media only screen and (min-width: $break-mobile){
    	&:hover{
    		background-color: #003162;
    		color: white;
    	}
    }
}





/* RESPONSIVE */
.show-mobile{
	display:none !important;
	@media only screen and (max-width: $break-mobile) {
		display:block !important;
	}
}
.show-mobile-inline{
	display:none !important;
	@media only screen and (max-width: $break-mobile) {
		display:inline-block !important;
	}
}
.show-desktop{
	display:block !important;
	@media only screen and (max-width: $break-mobile) {
		display:none !important;
	}
}
.show-desktop-inline{
	display:inline-block !important;
	@media only screen and (max-width: $break-mobile) {
		display:none !important;
	}
}